/* common */
.workspace-tab-header {
    &.is-active {
        .workspace-tab-header-inner-icon::before {
            color: var(--color-baseA12) !important;
        }
    }

    .workspace-tab-header-inner {
        .workspace-tab-header-inner-icon{
        }
        .workspace-tab-header-inner-title{

        }
        .workspace-tab-header-status-container{
            .workspace-tab-header-status-icon.mod-pinned {
                pointer-events: none;
                display: none;
            }
        }
    }
}

/* major tab */
.workspace-tab-header[data-type="bases"]:has(.mod-pinned) {
    /* width: 56px !important; */
    max-width: 38px !important;
    min-width: 34px !important;
    overflow: hidden;
    
    .workspace-tab-header-inner-icon{
        &::before {
            font-family: 'Material Icons';
            content: '\eb36';
            font-size: 18px;
        }

        svg {
            display: none;
        }
    }

    .workspace-tab-header-inner-title{
        display: none;
    }
}

.workspace-tab-header:has(.mod-pinned)[aria-label="HOME"] .workspace-tab-header-inner-icon::before {
    content: '\e88a';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="LOGS"] .workspace-tab-header-inner-icon::before {
    content: '\e22b';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="PROJECTS"] .workspace-tab-header-inner-icon::before {
    content: '\e719';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="WORKS"] .workspace-tab-header-inner-icon::before {
    content: '\f10a';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TODOS"] .workspace-tab-header-inner-icon::before {
    content: '\e834';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="R-MEDIAS"] .workspace-tab-header-inner-icon::before {
    content: '\e019';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="R-PHOTOS"] .workspace-tab-header-inner-icon::before {
    content: '\e412';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="R-SOURCES"] .workspace-tab-header-inner-icon::before {
    content: '\f569';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="R-ITEMS"] .workspace-tab-header-inner-icon::before {
    content: '\ef7b';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="R-PROFILES"] .workspace-tab-header-inner-icon::before {
    content: '\f4ca';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="R-MEETINGS"] .workspace-tab-header-inner-icon::before {
    content: '\e616';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="ALL"] .workspace-tab-header-inner-icon::before {
    content: '\e0b8';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="ARCHIVED"] .workspace-tab-header-inner-icon::before {
    content: '\e872';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="R-NOTES"] .workspace-tab-header-inner-icon::before {
    content: '\f1fc';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="RESOURCES"] .workspace-tab-header-inner-icon::before {
    content: '\ef4a';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAGS"] .workspace-tab-header-inner-icon::before {
    content: '\e9ef';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="LIKES"] .workspace-tab-header-inner-icon::before {
    content: '\e87d';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="HIDE"] .workspace-tab-header-inner-icon::before {
    content: '\e8f5';
}

/* !!!TAGS!!! */
.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-ALL"] .workspace-tab-header-inner-icon::before {
    content: '\e9ef';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-AI"] .workspace-tab-header-inner-icon::before {
    content: '\e3e4';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-BUY"] .workspace-tab-header-inner-icon::before {
    content: '\e8cc';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-CAR"] .workspace-tab-header-inner-icon::before {
    content: '\e531';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-CAREER"] .workspace-tab-header-inner-icon::before {
    content: '\e8f9';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-DESIGN"] .workspace-tab-header-inner-icon::before {
    content: '\e40a';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-DEV"] .workspace-tab-header-inner-icon::before {
    content: '\fff8b';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-FOOD"] .workspace-tab-header-inner-icon::before {
    content: '\e56c';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-GEAR"] .workspace-tab-header-inner-icon::before {
    content: '\f00b';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-HANGOUT"] .workspace-tab-header-inner-icon::before {
    content: '\e566';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-HEALTH"] .workspace-tab-header-inner-icon::before {
    content: '\f2c3';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-HOBBY"] .workspace-tab-header-inner-icon::before {
    content: '\f437';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-HOME"] .workspace-tab-header-inner-icon::before {
    content: '\e21e';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-LEARN"] .workspace-tab-header-inner-icon::before {
    content: '\f53e';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-MUSIC"] .workspace-tab-header-inner-icon::before {
    content: '\e405';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-TOOLS"] .workspace-tab-header-inner-icon::before {
    content: '\ea3c';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-TRAVEL"] .workspace-tab-header-inner-icon::before {
    content: '\e6ca';
}

.workspace-tab-header:has(.mod-pinned)[aria-label="TAG-VIDEO"] .workspace-tab-header-inner-icon::before {
    content: '\e04b';
}