/* body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

.status-bar-item {
	font-family: var(--font-monospace);
	font-size: 0.8em;
}
.status-bar-item.plugin-sync {
	display: none;
}

/* INDENT */
.markdown-source-view.mod-cm6 .cm-indent::before {
	display: none;
}

::-webkit-scrollbar-thumb {
	transition: all 0.2s ease 0s;
	background-clip: padding-box;
	border: 3px solid transparent;
	background-color: var(--color-baseA5);
	border-radius: 12px;
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
	background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
	background-color: var(--color-baseA6);
}

.cm-s-obsidian .templater-inline .cm-templater-command {
	background-color: transparent;
}

body:not(.is-mobile) ::-webkit-scrollbar-corner {
	background: transparent; /* 우측 하단 모서리 흰색 공간 투명화 */
}

body:not(.is-phone) .workspace-leaf.mod-active .tree-item-self.has-focus {
	box-shadow: inset 0 0 0 2px var(--color-accent);
}

body:not(.is-mobile) {
	--file-line-width: 860px;
	--nav-item-margin-bottom: 1px;
	.view-header {
		display: none;
	}

	.nav-header {
		display: none;
	}

	/* pane padding 제거 */
	.nav-files-container,
	.workspace-leaf-content .view-content,
	.backlink-pane,
	.outgoing-link-pane,
	.tag-container,
	.workspace-leaf-content .view-content {
		padding: 0;
		overflow-x: hidden;
	}

	.workspace-leaf-content[data-type="tag"] {
		.tag-container {
			overflow-x: hidden;

			.tree-item-self {
				padding-left: 8px;

				&::before {
					content: "#";
					margin-right: 6px;
					opacity: 0.4;
					font-weight: 200;
					font-size: 1.1em;
					line-height: 1;
				}
			}
		}
	}

	.workspace-leaf-content {
		overflow-x: hidden;

		.tree-item-self {
			min-height: 28px;
			display: flex;
			align-items: center;
		}
	}
	.menu {
		background-color: var(--color-popoverBackground);
		border: none;
		border-radius: 4px;
		/* background-color: var(--color-sidebarBackground); */
		box-shadow:
			var(--shadows-popover),
			0 0 0 0.5px var(--color-baseA4);
	}

	.suggestion-container {
		background-color: var(--color-popoverBackground);
		backdrop-filter: var(--suggestion-backdrop-filter);
		align-self: stretch;
		overflow: hidden;
		flex-direction: column;
		max-width: 500px;
		max-height: 300px;
		z-index: var(--layer-notice);
		border: none;
		box-shadow:
			var(--shadows-popover),
			0 0 0 0.5px var(--color-baseA4);
		border-radius: 4px;
		min-width: 120px;

		& > * {
			padding: 4px;
		}
	}

	/* linked mention */
	.search-info-container,
	.search-row,
	.search-results-info,
	.search-params,
	.search-result-container {
		padding: 0;
		margin: 0;
		gap: 0;
	}
}

textarea:active,
.multi-select-container:active,
input.metadata-input-text:active,
input[type="date"]:active,
input[type="datetime-local"]:active,
input[type="text"]:active,
input[type="search"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="number"]:active,
textarea:focus,
.multi-select-container:focus,
input.metadata-input-text:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus-visible,
.multi-select-container:focus-visible,
input.metadata-input-text:focus-visible,
input[type="date"]:focus-visible,
input[type="datetime-local"]:focus-visible,
input[type="text"]:focus-visible,
input[type="search"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
input[type="number"]:focus-visible {
	box-shadow: none;
}

.workspace-leaf-content[data-type="search"] {
	.search-params {
		padding: 12px 0 !important;
	}

	.setting-item {
		margin: 0;
		padding: 4px 8px !important;
	}
}

.mod-left-split
	.workspace-tab-header-container
	.workspace-tab-header-container-inner,
.mod-right-split
	.workspace-tab-header-container
	.workspace-tab-header-container-inner {
	padding: 0;
	margin: 0;
	gap: 0.5px;
}

.workspace-tab-header-container {
	padding: 0;
}

.sidebar-toggle-button,
.workspace-tab-header-tab-list {
	padding: 0 !important;
	margin: 0;
	/* height: 38px; */

	.clickable-icon {
		width: 38px;
		height: 38px;
	}
}

/* 에디터 하단 패딩 */
.markdown-source-view.mod-cm6 .cm-content {
	padding-bottom: 100px !important;
}

.metadata-property {
	--metadata-property-background: transparent;
	--metadata-property-box-shadow: none;
	--dropdown-background: none;

	background-color: var(--metadata-property-background);
	box-shadow: var(--metadata-property-box-shadow);
	min-height: var(--input-height);
}

/* tag와 공유됨  */
.multi-select-container {
	--pill-radius: 0px;

	.multi-select-pill {
		gap: 0;
		font-weight: 500;
	}

	.multi-select-pill-remove-button {
		margin-right: -3px;
	}
}

/* TAB */
.workspace .mod-root .workspace-tab-header-container-inner {
	margin: 0;
	padding-inline: 0;
	margin-bottom: -1px;
}

.workspace .mod-root .workspace-tab-header-inner {
	padding-left: 10px;
}
.workspace .mod-root .workspace-tab-header-new-tab {
	padding: 0;
	height: 100%;
	.clickable-icon {
		margin: 0;
		width: 36px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		svg.svg-icon {
			position: relative;
			top: 1px;
			stroke-width: 2.5px !important;
			stroke: var(--color-gray10);
		}
	}
}

.workspace .mod-root .workspace-tab-header-inner::after {
	--tab-divider-color: transparent;
}

.workspace .mod-root .workspace-tab-header {
	&::before,
	&::after {
		content: none;
		display: none;
	}
	padding: 0 !important;
	border-radius: 0 !important;

	.workspace-tab-header-inner-title {
		color: var(--color-baseA9);
	}

	&.is-active {
		box-shadow:
			-1px 0 0 0 var(--color-baseA4),
			inset -1px 0 0 0 var(--color-baseA4);
		/* inset 0 1.5px 0 0 var(--color-accent); */

		.workspace-tab-header-inner-title {
			color: var(--color-baseA12) !important;
		}
	}
}

/* ALL PROPERTIES PANE */
.workspace-leaf-content[data-type="all-properties"] {
	.tree-item-self {
		padding-left: 28px;
		border-bottom: 1px solid var(--color-baseA3);
	}
}

/* FILE PROPERTIES PANE */
.workspace-leaf-content[data-type="file-properties"] {
	--metadata-label-width: 8em;

	.metadata-property-key,
	.metadata-property-value {
		border-bottom: 1px solid var(--color-baseA3);
	}
	.metadata-property-key {
		padding-left: 5px;
	}

	.metadata-add-button {
		padding-left: 9px !important;
	}
}

/* TAG PANE */
.workspace-leaf-content[data-type="tag"] {
	.tree-item-self {
		padding-left: 11px !important;
		border-bottom: 1px solid var(--color-baseA3);
	}
}

/* sidebar */
.workspace-drawer.mod-left {
	border-right: 1px solid var(--color-baseA4);
	border-radius: 0;
}

.workspace-drawer.mod-right {
	border-left: 1px solid var(--color-baseA4);
	border-radius: 0;
}

/* recent files */
.workspace-leaf-content[data-type="recent-files"] {
	.tree-item-self {
		padding: 2px 9px;
	}
}

/* pin icon */
.mod-root .mod-pinned,
.mod-root .workspace-tab-header-inner-close-button {
	--icon-size: 12px;
	--icon-stroke: 3px;
}
.mod-root .workspace-tab-header-status-icon {
	/* color: var(--color-baseA8); */
}
