.workspace-leaf-content[data-type="backlink"] {
	.backlink-pane {
		.tree-item-self {
			border-radius: 0;

			&:active {
				background-color: var(--hover-background);
			}
		}

		.search-result-container {
			margin-bottom: 32px;
		}

		.search-empty-state {
		}
		.search-result {
			.tree-item-self {
				cursor: pointer;
			}

			.search-result-file-matches {
				margin-top: 0;
				margin-bottom: 0px;
				cursor: pointer;
			}
		}
	}

	.search-result-file-matched-text {
		background-color: transparent;
		color: var(--color-accent);
	}
}
