.anzi {
    display: inline-flex;
    width: auto;
    font-weight: 500;
    flex-shrink: 0;

    &.none {
        display: none;
    }
    &.ttc {
        text-transform: capitalize;
    }
    &.ttu {
        text-transform: uppercase;
    }
    &.tag{
        padding: 0.4px 3px;
        border-radius: 1px;
        min-width: 14px;
        line-height: 1.3em;
        text-align: center;
        letter-spacing: -0.03em;
        font-size: 0.85em;
    }
    &.right { 
        margin-left: auto;
    }
    &.center { 
        margin-inline: auto;
    }
    &.r {
        padding: 0.4px 3px;
        border-radius: 2.2px;
    }
    &.pill {
        padding: 1px 4.5px;
        border-radius: 50px;
    }
    &.mono {
        font-family: var(--font-monospace);
        letter-spacing:-0.05em;
    }
    &.s {
        font-size: 0.8em;
    }
    &.i {
        font-style: italic;
    }
    &.b {
       font-weight: 600 !important; 
    }
    &.dimmed50 {
        filter: grayscale(30%);
        opacity: 0.5;
    }

    
    &.red {
        color: var(--c-red);
    }
    &.green {
        color: var(--c-green);
    }
    &.yellow {
        color: var(--c-yellow);
    }
    &.orange {
        color: var(--c-orange);
    }
    &.blue {
        color: var(--c-blue);
    }
    &.purple {
        color: var(--c-purple);
    }
    &.gray {
        color: var(--c-gray);
    }
    &.bronze {
        color: var(--c-bronze);
    }
    &.brown {
        color: var(--c-brown);
    }
    &.pink {
        color: var(--c-pink);
    }
    &.accent { 
        color: var(--color-accent);
    }


    &.weak {
        color: var(--color-baseA12);
        background-color: var(--color-baseA4);
        box-shadow: inset 0 0 0 1px var(--color-baseA2);
    }
    &.weak.gray {
        color: var(--color-baseA9);
        background-color: color-mix(in srgb, var(--c-gray), transparent 80%);
    }
    &.weak.red {
        background-color: color-mix(in srgb, var(--c-red), transparent 80%);
    }
    &.weak.green {
        background-color: color-mix(in srgb, var(--c-green), transparent 80%);
    }
    &.weak.yellow {
        background-color: color-mix(in srgb, var(--c-yellow), transparent 80%);
    }
    &.weak.orange {
        background-color: color-mix(in srgb, var(--c-orange), transparent 80%);
    }
    &.weak.blue {
        background-color: color-mix(in srgb, var(--c-blue), transparent 80%);
    }
    &.weak.purple {
        background-color: color-mix(in srgb, var(--c-purple), transparent 80%);
    }
    &.weak.bronze {
        background-color: color-mix(in srgb, var(--c-bronze), transparent 80%);
    }
    &.weak.brown {
        background-color: color-mix(in srgb, var(--c-brown), transparent 80%);
    }
    &.weak.pink {
        background-color: color-mix(in srgb, var(--c-pink), transparent 80%);
    }
    &.weak.accent { 
        background-color: color-mix(in srgb, var(--color-accent), transparent 80%);
    }



    &.solid {
        color: var(--text-on-accent);
        background-color: var(--color-baseA12);
        font-weight: 500;
    }
    &.solid.gray {
        color: var(--text-on-accent);
        background-color: var(--c-gray);
    }
    &.solid.red {
        color: var(--text-on-accent);
        background-color: var(--c-red);
    }
    &.solid.green {
        color: var(--text-on-accent);
        background-color: var(--c-green);
    }
    &.solid.yellow {
        color: var(--text-on-accent);
        background-color: var(--c-yellow);
    }
    &.solid.orange {
        color: var(--text-on-accent);
        background-color: var(--c-orange);
    }
    &.solid.blue {
        color: var(--text-on-accent);
        background-color: var(--c-blue);
    }
    &.solid.purple {
        color: var(--text-on-accent);
        background-color: var(--c-purple);
    }
    &.solid.bronze {
        color: var(--text-on-accent);
        background-color: var(--c-bronze);
    }
    &.solid.brown {
        color: var(--text-on-accent);
        background-color: var(--c-brown);
    }
    &.solid.pink {
        color: var(--text-on-accent);
        background-color: var(--c-pink);
    }
    &.solid.accent { 
        color: var(--text-on-accent);
        background-color: var(--color-accent);
    }



    &.outline {
        /* color: var(--text-on-accent); */
        /* background-color: var(--color-baseA12); */
        border-width: 1px;
        border-style: solid;
        border-color: color-mix(in srgb, var(--color-baseA12), transparent 50%);
        font-weight: 500;
    }
    &.outline.gray {
        color: var(--c-gray);
        border-color: color-mix(in srgb, var(--c-gray), transparent 50%);
        background-color: color-mix(in srgb, var(--c-gray), transparent 90%);
    }
    &.outline.red {
        color: var(--c-red);
        border-color: color-mix(in srgb, var(--c-red), transparent 50%);
        background-color: color-mix(in srgb, var(--c-red), transparent 90%);
    }
    &.outline.green {
        color: var(--c-green);
        border-color: color-mix(in srgb, var(--c-green), transparent 50%);
        background-color: color-mix(in srgb, var(--c-green), transparent 90%);
    }
    &.outline.yellow {
        color: var(--c-yellow);
        border-color: color-mix(in srgb, var(--c-yellow), transparent 50%);
        background-color: color-mix(in srgb, var(--c-yellow), transparent 90%);
    }
    &.outline.orange {
        color: var(--c-orange);
        border-color: color-mix(in srgb, var(--c-orange), transparent 50%);
        background-color: color-mix(in srgb, var(--c-orange), transparent 90%);
    }
    &.outline.blue {
        color: var(--c-blue);
        border-color: color-mix(in srgb, var(--c-blue), transparent 50%);
        background-color: color-mix(in srgb, var(--c-blue), transparent 90%);
    }
    &.outline.purple {
        color: var(--c-purple);
        border-color: color-mix(in srgb, var(--c-purple), transparent 50%);
        background-color: color-mix(in srgb, var(--c-purple), transparent 90%);
    }
    &.outline.bronze {
        color: var(--c-bronze);
        border-color: color-mix(in srgb, var(--c-bronze), transparent 50%);
        background-color: color-mix(in srgb, var(--c-bronze), transparent 90%);
    }
    &.outline.brown {
        color: var(--c-brown);
        border-color: color-mix(in srgb, var(--c-brown), transparent 50%);
        background-color: color-mix(in srgb, var(--c-brown), transparent 90%);
    }
    &.outline.pink {
        color: var(--c-pink);
        border-color: color-mix(in srgb, var(--c-pink), transparent 50%);
        background-color: color-mix(in srgb, var(--c-pink), transparent 90%);
    }
    &.outline.accent { 
        color: var(--color-accent);
        border-color: color-mix(in srgb, var(--color-accent), transparent 50%);
        background-color: color-mix(in srgb, var(--color-accent), transparent 90%);
    }

}

.anzi-wrapper {
    display: inline-flex;
    width: auto;
    align-items: center;
    font-family: var(--font-monospace);
    font-size: 0.8em;
    text-transform: capitalize;
    gap: 3px;

    > * {
        padding: 1px 4px;
        border-radius: 2px;
        min-width: 14px;
        line-height: 1.3em;
        text-align: center;
        color: var(--color-baseA11);
        background-color: var(--color-baseA4);

        &:empty {
            display: none;
        }
    }

    .type {
        color: var(--color-baseA11);
    }

    .footer-bases {
        &.c {
            color: var(--color-accent);
            background-color: r(--color-baseA4);
        }
    }
}
