body {
	--bases-cards-background: var(--color-baseA2);
	--bases-cards-cover-background: var(--color-baseA2);
	--bases-cards-shadow:
		inset 0 0 0 0.5px var(--color-baseA4),
		inset 0 -1px 0 0 var(--color-baseA2);

	--bases-cards-shadow-hover:
		inset 0 0 0 0.5px var(--color-baseA5),
		inset 0 -1px 0 0 var(--color-baseA3);
	--bases-cards-line-height: 17px;
}

.bases-cards-item {
	border-radius: 10px;
	transition:
		box-shadow,
		background-color 0.3s;
}

.bases-cards-cover {
	position: absolute;
	overflow: hidden;
	height: 100px;
	background-color: var(--bases-cards-cover-background);
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: inset 0 -1px 0 0 var(--color-baseA2);
}

@media (hover: hover) {
	.bases-cards-item:hover {
		transition: 0s;
		box-shadow: var(--bases-cards-shadow-hover);
		background-color: var(--color-baseA6);
	}
}

.bases-cards-item:active {
	transition:
		box-shadow,
		background-color var(--anim-duration-fast);
	box-shadow: var(--bases-cards-shadow-hover);
	background-color: var(--color-baseA8);
}

.bases-cards-label {
	font-family: var(--font-monospace);
	font-size: 10px;
	position: relative;
	top: -2px;
	padding: 0;
	text-transform: uppercase;
	opacity: 0.7;
}

.bases-cards-property {
	padding: 0 12px;
}

.bases-cards-property.mod-title .bases-cards-line {
	font-size: 0.9em;
	font-weight: 600;
}

.bases-cards-item:last-child {
	padding-bottom: 12px;
}

.bases-cards-property input,
.bases-cards-property input::-webkit-datetime-edit-text,
.bases-cards-property input::-webkit-datetime-edit-month-field,
.bases-cards-property input::-webkit-datetime-edit-day-field,
.bases-cards-property input::-webkit-datetime-edit-year-field {
	font-size: unset;
	padding: unset;
	color: var(--text-normal); /* 회색 대신 적용할 색상 */
	letter-spacing: -0.03em;
}

.bases-cards-property .bases-rendered-value {
	padding: 0;
	padding-top: 0.1em;
	/* font-family: var(--font-monospace); */
	font-size: 0.85em;
}

.bases-cards-property.mod-title {
	padding-top: 6px;
	padding-bottom: 3px;
	font-family: var(--font-interface);
}
