body {
	--bases-cards-background: var(--color-baseA2);
	--bases-cards-cover-background: var(--color-baseA2);
	--bases-cards-shadow:
		inset 0 0 0 0.5px var(--color-baseA4),
		inset 0 -1px 0 0 var(--color-baseA2);

	--bases-cards-shadow-hover:
		inset 0 0 0 0.5px var(--color-baseA5),
		inset 0 -1px 0 0 var(--color-baseA3);
	--bases-cards-line-height: 17px;
}

.bases-cards-item {
	border-radius: 10px;
	transition:
		box-shadow,
		background-color 0.3s;
	
}

@media (hover: hover) {
	.bases-cards-item:hover {
		transition: 0s;
		box-shadow: var(--bases-cards-shadow-hover);
		background-color: var(--color-baseA6);
	}
}

.bases-cards-item:active {
	transition:
		box-shadow,
		background-color var(--anim-duration-fast);
	box-shadow: var(--bases-cards-shadow-hover);
	background-color: var(--color-baseA8);
}

/* INIT */

.bases-cards-item {
	/* height: auto !important; */
}


.bases-cards-label {
	display: none;
}

.bases-cards-cover {
	display: none;
	position: relative;
	top: unset;
	left: unset;

	&:not(:has(img)) {
		/* display: none; */
	}
}

.bases-cards-property[data-property="formula.cover"] {
	margin-top: auto;
	height: auto !important;
	.bases-rendered-value {
		width: 100% !important;
	}
}

.bases-cards-property {
	position: relative;
	top: unset !important;
	left: unset !important;
	padding: 0 !important;
}

.bases-cards-property.mod-title .bases-cards-line {
	font-size: 0.9em;
	font-weight: 600;
}

.bases-cards-item:last-child {
	padding-bottom: 12px;
}

.bases-cards-property input,
.bases-cards-property input::-webkit-datetime-edit-text,
.bases-cards-property input::-webkit-datetime-edit-month-field,
.bases-cards-property input::-webkit-datetime-edit-day-field,
.bases-cards-property input::-webkit-datetime-edit-year-field {
	font-size: unset;
	padding: unset;
	color: var(--text-normal); /* 회색 대신 적용할 색상 */
	letter-spacing: -0.03em;
}

.bases-cards-property.mod-title {
	.bases-rendered-value {
		padding: 0;
		color: red;
	}
}

.bases-cards-property:not(.mod-title) {
	.bases-rendered-value {
		padding: 0;
		padding-top: 0.1em;
		/* font-family: var(--font-monospace); */
		font-size: 0.85em;
		color: var(--color-baseA11);

		input {
			color: unset;
			color: red;
		}
	}
}

.bases-cards-property.mod-title {
	padding-top: 6px;
	padding-bottom: 3px;
	font-family: var(--font-interface);
}

.value-list-container {
	.value-list-gap {
		display: inline-block;
		width: 4px;
	}
	.value-list-element {
		gap: 4px;
		.tag {
			font-family: var(--font-monospace);
			padding: 2px 1px;
			text-transform: uppercase;
		}
	}
}