.anzi {
    display: inline-flex;
    width: auto;
    font-weight: 500;

    &.none {
        display: none;
    }
    &.ttc {
        text-transform: capitalize;
    }
    &.ttu {
        text-transform: uppercase;
    }
    &.tag{
        padding: 1px 3.5px;
        border-radius: 0px;
        min-width: 14px;
        line-height: 1.3em;
        text-align: center;
        letter-spacing: -0.03em;
        font-size: 0.85em;
    }
    &.right { 
        margin-left: auto;
    }
    &.center { 
        margin-inline: auto;
    }
    &.pill {
        padding: 1px 3.5px;
        border-radius: 4px;
    }
    &.mono {
        font-family: var(--font-monospace);
        letter-spacing:-0.05em;
    }
    &.s {
        font-size: 0.8em;
    }
    &.i {
        font-style: italic;
    }
    &.b {
       font-weight: 600; 
    }

    
    &.red {
        color: var(--color-red11);
    }
    &.green {
        color: var(--color-green11);
    }
    &.yellow {
        color: var(--color-yellow11);
    }
    &.orange {
        color: var(--color-orange);
    }
    &.blue {
        color: var(--color-blue);
    }
    &.purple {
        color: var(--color-purple);
    }
    &.gray {
        color: var(--color-gray10);
    }
    &.bronze {
        color: var(--color-bronze11);
    }
    &.brown {
        color: var(--color-brown11);
    }
    &.mint {
        color: var(--color-mint11);
    }


    &.weak {
        color: var(--color-baseA12);
        background-color: var(--color-baseA4);
    }
    &.weak.red {
        color: var(--color-baseA12);
        background-color: var(--color-redA6);
    }
    &.weak.green {
        color: var(--color-baseA12);
        background-color: var(--color-greenA6);
    }
    &.weak.yellow {
        color: var(--color-baseA12);
        background-color: var(--color-yellow6);
    }
    &.weak.orange {
        color: var(--color-baseA12);
        background-color: var(--color-orangeA6);
    }
    &.weak.blue {
        color: var(--color-baseA12);
        background-color: var(--color-blueA6);
    }
    &.weak.purple {
        color: var(--color-baseA12);
        background-color: var(--color-purpleA6);
    }
    &.weak.bronze {
        color: var(--color-baseA12);
        background-color: var(--color-bronze6);
    }
    &.weak.brown {
        color: var(--color-baseA12);
        background-color: var(--color-brown6);
    }
    &.weak.mint {
        color: var(--color-baseA12);
        background-color: var(--color-mint6);
    }



    &.solid {
        color: var(--text-on-accent);
        background-color: var(--color-baseA12);
        box-shadow: inset 0 0 0 0.5px var(--color-baseA6);
        font-weight: 500;
    }
    &.solid.gray {
        color: var(--text-on-accent);
        background-color: var(--color-gray10);
    }
    &.solid.red {
        color: var(--text-on-accent);
        background-color: var(--color-red10);
    }
    &.solid.green {
        color: var(--text-on-accent);
        background-color: var(--color-green10);
    }
    &.solid.yellow {
        color: var(--text-on-accent);
        background-color: var(--color-yellow10);
    }
    &.solid.orange {
        color: var(--text-on-accent);
        background-color: var(--color-orange10);
    }
    &.solid.blue {
        color: var(--text-on-accent);
        background-color: var(--color-blue10);
    }
    &.solid.purple {
        color: var(--text-on-accent);
        background-color: var(--color-purple10);
    }
    &.solid.bronze {
        color: var(--text-on-accent);
        background-color: var(--color-bronze11);
    }
    &.solid.brown {
        color: var(--text-on-accent);
        background-color: var(--color-brown11);
    }
    &.solid.mint {
        color: var(--text-on-accent);
        background-color: var(--color-mint11);
    }
}

.anzi-wrapper {
    display: inline-flex;
    width: auto;
    align-items: center;
    font-family: var(--font-monospace);
    font-size: 0.8em;
    text-transform: capitalize;
    gap: 3px;

    > * {
        padding: 1px 4px;
        border-radius: 2px;
        min-width: 14px;
        line-height: 1.3em;
        text-align: center;
        color: var(--color-baseA11);
        background-color: var(--color-baseA4);

        &:empty {
            display: none;
        }
    }

    .type {
        color: var(--color-baseA11);
    }

    .footer-bases {
        &.c {
            color: var(--color-accent);
            background-color: r(--color-baseA4);
        }
    }
}
