body {
	--bases-table-cell-shadow-focus: inset 0 0 0 2px var(--color-accent);
	--bases-table-cell-shadow-active:
		0 0 0 1px var(--color-baseA10), inset 0 0 0 1px var(--color-baseA10);
	--bases-table-cell-radius-focus: 0;
	--bases-table-row-height: 36px;

	--table-border-color: var(--color-baseA2);
	--bases-embed-border-color: var(--table-border-color);
	--bases-group-heading-value-size: 12px;
	/* --metadata-input-background-active: blue; */
}

.bases-table-header-icon {
	display: none;
}

.bases-toolbar {
	column-gap: 8px;

	.bases-toolbar-results-menu .text-button-label {
		opacity: 0.5;
	}
}

body {
	.workspace-leaf-content[data-type="bases"]:has(.bases-view[data-view-type="table"]) .view-content {
		padding: 0px;
		padding-left: 12px;

		.bases-header {
			padding-left: 4px;
			/* margin-left: 12px; */

			padding-right: 12px;
		}

		.bases-view {
			.internal-link {
				letter-spacing: -0.015em;
				font-weight: 600;
			}
			/* padding-left: 12px; */
		}
	}

	.workspace-leaf-content[data-type="bases"]:has(.bases-view[data-view-type="cards"]) .view-content {

		.bases-header {
			padding-left: 4px;
			margin-left: 12px;

			padding-right: 12px;
		}

		.bases-view {
			padding-left: 12px !important;
			padding-right: 4px !important;
		}
	}

	.workspace-leaf-content[data-type="bases"]:has(.bases-view[data-view-type="list"]) .view-content {

		.bases-header {
			padding-left: 4px;
			margin-left: 12px;

			padding-right: 12px;
		}

		.bases-view {
			padding-left: 12px !important;
			padding-right: 4px !important;
		}
	}
}

.bases-table-header-sort {
	svg {
		background-color: var(--color-baseA5);
		border-radius: 2px;
		box-shadow: inset 0 0 0 0.5px var(--color-baseA7);
	}
}

.bases-table-active-cell,
.bases-table-selection {
	border-radius: 0 !important;
	box-sizing: border-box;
	padding-bottom: 10px !important;
}

.bases-thead {
	/* 이거 100% 주면 스크롤시 라인이 사라짐 */
	/* width: 100% !important; */
}

.bases-thead .bases-td {
	box-shadow: unset;
	/* box-shadow: inset -0.5px 0 0 0 var(--color-baseA3) !important; */
	/* background-color: var(--color-baseA2); */
}

.bases-table-header-label  {
	flex-grow: 1;
	mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 95%);
	.bases-table-header-name {
	}
}

.workspace-leaf-content[data-type="markdown"] .block-language-base .bases-view,
.workspace-leaf-content[data-type="markdown"] .bases-embed .bases-view {
	border-top: none;
	border-left: none;
	border-right: none;
}

.bases-toolbar .text-icon-button {
	margin: 0;
}

.bases-view {
	scrollbar-gutter: inherit;
}

.bases-group-heading {
	opacity: 0.3;
	padding-left: 6px !important;
	margin: 0;
	font-family: var(--font-monospace);
	text-transform: uppercase;
	display: flex;
	position: sticky;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.bases-group-value {
	display: flex;
	align-items: center;
}

@media (hover: hover) {
	.bases-tbody .bases-tr:hover {
		background-color: var(--dimmed-background);
	}
}

.bases-view[data-view-type="cards"] {
	padding: 12px 0 !important;
}

.bases-header {
	padding: 3px;
}

.bases-table-cell .metadata-input-number, .bases-table-cell[data-property-type="number"] {
	text-align: left;
	font-family: var(--font-monospace);
}

.bases-tr .bases-td:last-child {
	/* box-shadow: none; */
	/* margin-right: -12px; */

}

.text-icon-button.is-active {
	.text-button-icon {
		color: var(--color-accent);
	}
}

.bases-toolbar-item {
	&.bases-toolbar-new-item-menu {
		display: none;
	}

	&.bases-toolbar-filter-menu, &.bases-toolbar-sort-menu, &.bases-toolbar-properties-menu {
		.text-button-label {
			display: none !important;
		}
	}

	.text-icon-button {
		font-weight: 500;
		color: var(--color-baseA11);

		.text-button-icon svg {
			stroke-width: 2px;
		}

	}
}

.bases-table-cell[data-property-type="checkbox"] {
	justify-content: flex-start;
}

.bases-table-header-label {
	padding-inline-start: 5px;
	overflow: hidden;
}

.bases-td {
	box-shadow: calc(var(--bases-table-column-border-width) * -1) 0 0
		var(--color-baseA3);
	mask-image: linear-gradient(to right, rgba(0,0,0,1) 85%, rgba(0,0,0,0.7) 96%);

	&:first-child {
		box-shadow: none;
	}
}

.bases-embed {
	.edit-block-button {
		display: none !important;
	}
}

.bases-table-header-label {
	.bases-table-header-icon {
		/* display: none; */
		opacity: 0.3;
		transform: scale(0.8);
		transform-origin: left;
	}

	font-family: var(--font-monospace);
	/* text-transform: uppercase; */
	font-size: var(--bases-group-heading-value-size);
}

/* .workspace-leaf-content[data-type="bases"]:has(.bases-view[data-view-type="table"]) {
	position: relative;
	display: inline-block;

	&::after {
		content: "";
		position: absolute;
		background-color: var(--color-coverBackground);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 10;
		pointer-events: none;
	}
} */
