.anzi {
    &.tag{
        padding: 1px 4px;
        border-radius: 2px;
        min-width: 14px;
        line-height: 1.3em;
        text-align: center;
        letter-spacing: -0.03em;
        font-size: 0.9em;
    }
    &.right { 
        margin-left: auto;
    }
    &.center { 
        margin-inline: auto;
    }
    &.pill {
        padding: 1px 7px;
        border-radius: 12px;
    }
    &.mono {
        font-family: var(--font-monospace);
        letter-spacing:-0.05em;
    }
    &.s {
        font-size: 0.8em;
    }
    &.i {
        font-style: italic;
    }
    &.b {
       font-weight: 500; 
    }
    &.red {
        color: var(--color-red);
    }
    &.green {
        color: var(--color-green);
    }
    &.yellow {
        color: var(--color-amber9);
    }
    &.orange {
        color: var(--color-orange);
    }
    &.blue {
        color: var(--color-blue);
    }
    &.green {
        color: var(--color-green);
    }
    &.purple {
        color: var(--color-purple);
    }
    &.weak {
        color: var(--color-baseA12);
        background-color: var(--color-baseA4);
        box-shadow: inset 0 0 0 0.5px var(--color-baseA3);
    }
    &.weak.red {
        color: var(--color-baseA12);
        background-color: var(--color-redA6);
    }
    &.weak.green {
        color: var(--color-baseA12);
        background-color: var(--color-greenA6);
    }
    &.weak.yellow {
        color: var(--color-baseA12);
        background-color: var(--color-yellow6);
    }
    &.weak.orange {
        color: var(--color-baseA12);
        background-color: var(--color-orangeA6);
    }
    &.weak.blue {
        color: var(--color-baseA12);
        background-color: var(--color-blueA6);
    }
    &.weak.green {
        color: var(--color-baseA12);
        background-color: var(--color-greenA6);
    }
    &.weak.purple {
        color: var(--color-baseA12);
        background-color: var(--color-purpleA6);
    }
    &.solid {
        color: var(--text-on-accent);
        background-color: var(--color-baseA12);
        box-shadow: inset 0 0 0 0.5px var(--color-baseA6);
        font-weight: 500;
    }
    &.solid.red {
        color: var(--text-on-accent);
        background-color: var(--color-red10);
    }
    &.solid.green {
        color: var(--text-on-accent);
        background-color: var(--color-green10);
    }
    &.solid.yellow {
        color: var(--text-on-accent);
        background-color: var(--color-yellow10);
    }
    &.solid.orange {
        color: var(--text-on-accent);
        background-color: var(--color-orange10);
    }
    &.solid.blue {
        color: var(--text-on-accent);
        background-color: var(--color-blue10);
    }
    &.solid.green {
        color: var(--text-on-accent);
        background-color: var(--color-green10);
    }
    &.solid.purple {
        color: var(--text-on-accent);
        background-color: var(--color-purple10);
    }
}

.anzi-wrapper {
    display: flex;
    align-items: center;
    font-family: var(--font-monospace);
    font-size: 0.8em;
    text-transform: capitalize;
    gap: 3px;

    > * {
        padding: 1px 4px;
        border-radius: 2px;
        min-width: 14px;
        line-height: 1.3em;
        text-align: center;
        color: var(--color-baseA11);
        background-color: var(--color-baseA4);

        &:empty {
            display: none;
        }
    }

    .type {
        color: var(--color-baseA11);
    }

    .footer-bases {
        
        &.c {
            color: var(--color-accent);
            background-color: r(--color-baseA4);
        }
    
        &.b {
            /* color: var(--color-brown10); */
        }
    
        &.l {
            /* color: var(--color-brown10); */
        }
    }
}
