body {
	--bases-cards-background: var(--color-background);
	--bases-cards-cover-background: var(--color-baseA2);
	--bases-cards-shadow:
		0 0 0 1px var(--color-baseA5);

	--bases-cards-shadow-hover:
		0 0 0 1px var(--color-baseA7);
	--bases-cards-line-height: 17px;
	--color-meta: var(--color-baseA10);
	--cards-base-padding: 10px;
}

.bases-view[data-view-type="cards"] {
	background-color: var(--color-baseA5);
}


/* INIT */
.bases-cards-item {
	/* height: auto !important; */
	display: flex;
	flex-direction: column;
	gap: 0;
	border-radius: 1px;
	transition: box-shadow, background-color 0.3s;
	padding: 0;

	.bases-cards-label {
		display: none;
	}

	.bases-cards-cover {
		/* display: none; */
		position: relative !important;
		top: 3px !important;
		left: unset;
		margin-top: auto;
		order: 99;
		box-shadow: inset 0 0.5px 0 0 var(--color-baseA4);
		background-position: center;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: var(--color-baseA6);
			position: absolute;
		}
	}

	.bases-cards-property {
		position: relative;
		top: unset !important;
		left: unset !important;
		padding: 1px var(--cards-base-padding) !important;
		display: inline-flex !important;
		align-items: center;

		.bases-cards-line {
			display: inline-flex;
			align-items: center;
			max-width: 100%;
			width: 100%;

			input {
				position: relative;
				top: 1px;
				/* font-family: var(--font-monospace); */
			}
		}
	}

	&:not(:has(.bases-cards-property[data-property="formula.cover"] img)) {
		.bases-cards-cover {
			display: none;
		}
	}

	.bases-cards-property[data-property="formula.cover"] {
		display: none !important;
	}

	.bases-cards-line[data-property-type="multitext"] {
		overflow: unset !important;
		display: flex;
		align-items: center;
	}

}


@media (hover: hover) {
	.bases-cards-item:hover {
		transition: 0s;
		box-shadow: var(--bases-cards-shadow-hover);
		background-color: var(--color-baseA1);

		.bases-cards-cover {
			&::after {
				background-color: var(--color-baseA8);
			}
		}
	}
}

.bases-cards-item:active {
	transition:
		box-shadow,
		background-color var(--anim-duration-fast);
	box-shadow: var(--bases-cards-shadow-hover);
	background-color: var(--color-baseA5);

	.bases-cards-cover {
		&::after {
			background-color: var(--color-baseA9);
		}
	}
}

.bases-cards-label {
	display: none;
}

.bases-cards-property input,
.bases-cards-property input::-webkit-datetime-edit-text,
.bases-cards-property input::-webkit-datetime-edit-month-field,
.bases-cards-property input::-webkit-datetime-edit-day-field,
.bases-cards-property input::-webkit-datetime-edit-year-field {
	font-size: unset;
	padding: unset;
	color: var(--color-meta); /* 회색 대신 적용할 색상 */
	letter-spacing: -0.03em;
}

.bases-cards-property.mod-title {
	margin-bottom: 4px !important;
	margin-top: var(--cards-base-padding);
	
	.bases-rendered-value {
		padding: 0;
		font-size: 14.5px;
		font-weight: 500;
	}
}

.bases-cards-label, .bases-cards-line {
	
}

.bases-cards-property:not(.mod-title) {

	.bases-rendered-value, .internal-link {
		padding: 0;
		font-size: 12px;
		font-weight: 400;
		color: var(--color-meta);
		pointer-events: none;

		.internal-link {
			color: var(--link-color);
		}

		input {
			color: unset;
			/* color: red; */
		}
	}
}

/* TAG */
.value-list-container {
	position: relative;

	.value-list-gap {
		display: inline-flex;
		width: 10px;
		justify-content: center;

		&::after {
			content:"•";
			opacity: 0.5;
		}
	}
	.value-list-element {
		.tag {
			font-size: unset;
			padding: 0px;
			font-weight: 400;
			text-transform: capitalize;
			background-color: transparent;
			/* font-family: var(--font-monospace); */
			/* color: var(--link-color); */
		}
	}
}