body {
	--bases-cards-shadow-hover: none;
	--bases-cards-line-height: 17px;
	--color-meta: var(--color-baseA10);
	--cards-base-padding: 10px;
}

body.theme-light {
	--bases-view-background: var(--color-baseA1);

	--bases-cards-background: var(--color-bgA8);
	--bases-cards-background-hover: var(--color-baseA3);
	--bases-cards-background-active: var(--color-baseA5);
	--bases-cards-inner-shadow: inset 0 0 0 1px var(--color-baseA5), inset 0 2px 0 0 var(--color-bgA5);
	--bases-cards-cover-background: var(--color-baseA2);
	--bases-cards-shadow: 0 4px 12px 0 var(--color-baseA3);
}

body.theme-dark {
	--bases-view-background: var(--color-bgA2);

	--bases-cards-background: var(--color-baseA2);
	--bases-cards-background-hover: var(--color-baseA4);
	--bases-cards-background-active: var(--color-baseA5);
	--bases-cards-inner-shadow: inset 0 0 0 1px var(--color-baseA1), inset 0 1px 0 0 var(--color-baseA2);
	--bases-cards-cover-background: var(--color-baseA2);
	--bases-cards-shadow: 0 2px 4px 0 var(--color-bgA3);
}

.bases-cards-group {
	gap: 12px;
}

.bases-view[data-view-type="cards"] {
	background-color: var(--bases-view-background);
}


/* INIT */
.bases-cards-item {
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	gap: 0;
	transition: box-shadow, background-color 0.3s;
	padding: 0;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: inherit;
		left: 0;
		top: 0;
		position: absolute;
		box-shadow: var(--bases-cards-inner-shadow);
		z-index: 1;
	}

	.bases-cards-label {
		display: none;
	}

	.bases-cards-cover {
		/* display: none; */
		opacity: 0.9;
		position: relative !important;
		left: unset;
		margin-top: 8px;
		order: 99;
		/* background-position: top; */
		mask-image: linear-gradient(to top, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
		/* transform: scale(1.05); */

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			/* background-color: var(--color-baseA6); */
			position: absolute;
		}
	}

	.bases-cards-property {
		position: relative;
		top: unset !important;
		left: unset !important;
		padding: 1px 0 1px var(--cards-base-padding) !important;
		display: inline-flex !important;
		align-items: center;

		.bases-cards-line {
			display: inline-flex;
			align-items: center;
			max-width: 100%;
			width: 100%;
			mask-image: linear-gradient(to right, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 96%);

			input {
				position: relative;
				top: 1px;
			}
		}
	}

	&:not(:has(.bases-cards-property[data-property="formula.cover"] img)) {
		.bases-cards-cover {
			display: none;
		}
	}

	.bases-cards-property[data-property="formula.cover"] {
		display: none !important;
	}

	.bases-cards-line[data-property-type="multitext"] {
		overflow: unset !important;
		display: flex;
		align-items: center;
	}

}


@media (hover: hover) {
	.bases-cards-item:hover {
		background-color: var(--bases-cards-background-hover);

		.bases-cards-cover {
			&::after {
				background-color: var(--bases-cards-background-hover);
			}
		}
	}
}

.bases-cards-item:active {
	transition: 0s;
	box-shadow: var(--bases-cards-shadow-hover);
	background-color: var(--bases-cards-background-active);

	.bases-cards-cover {
		&::after {
			background-color: var(--bases-cards-background-active);
		}
	}
}

.bases-cards-label {
	display: none;
}

.bases-cards-property input,
.bases-cards-property input::-webkit-datetime-edit-text,
.bases-cards-property input::-webkit-datetime-edit-month-field,
.bases-cards-property input::-webkit-datetime-edit-day-field,
.bases-cards-property input::-webkit-datetime-edit-year-field {
	font-size: unset;
	padding: unset;
	color: var(--color-meta); /* 회색 대신 적용할 색상 */
	letter-spacing: -0.03em;
}

.bases-cards-property.mod-title {
	margin-bottom: 4px !important;
	margin-top: var(--cards-base-padding);
	
	.bases-rendered-value {
		padding: 0;
		font-size: 14.5px;
		font-weight: 500;
	}
}

.bases-cards-label, .bases-cards-line {
	
}

.bases-cards-property:not(.mod-title) {

	.bases-rendered-value, .internal-link {
		padding: 0;
		font-size: 12px;
		font-weight: 400;
		color: var(--color-meta);
		pointer-events: none;

		.internal-link {
			color: var(--link-color);
		}

		input {
			color: unset;
			/* color: red; */
		}
	}
}

/* TAG */
.value-list-container {
	position: relative;

	.value-list-gap {
		display: inline-flex;
		width: 10px;
		justify-content: center;

		&::after {
			content:"•";
			opacity: 0.5;
		}
	}
	.value-list-element {
		.tag {
			font-size: unset;
			padding: 0px;
			font-weight: 400;
			text-transform: capitalize;
			background-color: transparent;
			/* font-family: var(--font-monospace); */
			/* color: var(--link-color); */
		}
	}
}