.status {
    &::before {
        content: "";
        display: flex;
        width: 14px;
        height: 14px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        flex-shrink: 0;
        margin-right: 7px;
    }

    &.backlog::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PGNpcmNsZSBjeD0iNyIgY3k9IjciIHI9IjYuMjUiIHN0cm9rZT0iIzdCN0I3QiIgc3Ryb2tlLWRhc2hhcnJheT0iMS43NSAxLjc1IiBzdHJva2Utd2lkdGg9IjEuNSIgc3R5bGU9InN0cm9rZTojN2I3YjdiO3N0cm9rZTpjb2xvcihkaXNwbGF5LXAzIC40ODExIC40ODExIC40ODExKTtzdHJva2Utb3BhY2l0eToxIi8+PC9zdmc+");
    }

    &.todo::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PGNpcmNsZSBjeD0iNyIgY3k9IjciIHI9IjYuMjUiIHN0cm9rZT0iI0IyQjJCMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0eWxlPSJzdHJva2U6I2IyYjJiMjtzdHJva2U6Y29sb3IoZGlzcGxheS1wMyAuNjk2MyAuNjk2MyAuNjk2Myk7c3Ryb2tlLW9wYWNpdHk6MSIvPjwvc3ZnPg==");
    }

    &.progress::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0ZGQzY0MSIgZD0iTTcgM2E0IDQgMCAxIDEgMCA4eiIgc3R5bGU9ImZpbGw6I2ZmYzY0MTtmaWxsOmNvbG9yKGRpc3BsYXktcDMgMSAuNzc2OCAuMjU2MSk7ZmlsbC1vcGFjaXR5OjEiLz48Y2lyY2xlIGN4PSI3IiBjeT0iNyIgcj0iNi4yNSIgc3Ryb2tlPSIjRkZDNjQxIiBzdHJva2Utd2lkdGg9IjEuNSIgc3R5bGU9InN0cm9rZTojZmZjNjQxO3N0cm9rZTpjb2xvcihkaXNwbGF5LXAzIDEgLjc3NjggLjI1NjEpO3N0cm9rZS1vcGFjaXR5OjEiLz48L3N2Zz4=");
    }

    &.fail::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0U2NjUzRCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNyAwYTcgNyAwIDEgMSAwIDE0QTcgNyAwIDAgMSA3IDBtLS41MyA4LjQ3LTItMkwzLjQgNy41M2wyLjYyIDIuNjMgMS4xNC0uMSAzLjUtNC44LTEuMjEtLjg5eiIgY2xpcC1ydWxlPSJldmVub2RkIiBzdHlsZT0iZmlsbDojZTY2NTNkO2ZpbGw6Y29sb3IoZGlzcGxheS1wMyAuOTAzNyAuMzk0MiAuMjM5MSk7ZmlsbC1vcGFjaXR5OjEiLz48L3N2Zz4=");
    }

    &.done::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzUwOTZFQyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNyAwYTcgNyAwIDEgMSAwIDE0QTcgNyAwIDAgMSA3IDBtLS41MyA4LjQ3LTItMkwzLjQgNy41M2wyLjYyIDIuNjMgMS4xNC0uMSAzLjUtNC44LTEuMjEtLjg5eiIgY2xpcC1ydWxlPSJldmVub2RkIiBzdHlsZT0iZmlsbDojNTA5NmVjO2ZpbGw6Y29sb3IoZGlzcGxheS1wMyAuMzEzOCAuNTg5OCAuOTI3MSk7ZmlsbC1vcGFjaXR5OjEiLz48L3N2Zz4=");
    }

    &.canceled::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzdCN0I3QiIgZD0iTTcgMGE3IDcgMCAxIDEgMCAxNEE3IDcgMCAwIDEgNyAwbTAgNS45NC0yLjEtMi4xLTEuMDYgMS4wN0w1Ljk0IDdsLTIuMSAyLjEgMS4wNyAxLjA2TDcgOC4wNmwyLjEgMi4xIDEuMDYtMS4wN0w4LjA2IDdsMi4xLTIuMS0xLjA3LTEuMDZ6IiBzdHlsZT0iZmlsbDojN2I3YjdiO2ZpbGw6Y29sb3IoZGlzcGxheS1wMyAuNDgxMSAuNDgxMSAuNDgxMSk7ZmlsbC1vcGFjaXR5OjEiLz48L3N2Zz4=");    
    }

    &.waiting::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzRFRENBMyIgZD0iTTcgMHEuNDYgMCAuOTEuMDZsLjE1LjAyLjIuMDMuMTMuMDMuMTguMDQuMTcuMDQuMTYuMDQuMTYuMDUuMjQuMDguMDcuMDIuMjUuMS4wNi4wMmE3IDcgMCAwIDEgNC4xNSA0Ljk0bC4wMy4xM2E3IDcgMCAwIDEtLjQgNC4wOGwtLjEzLS4wNi0xLjI1LS41MmE1LjUgNS41IDAgMCAwLTMuMTUtNy4yNUE1LjQ4IDUuNDggMCAwIDAgMS41IDdhNS41IDUuNSAwIDAgMCA3LjYgNS4wOGwuNTggMS4zOWE3IDcgMCAwIDEtMy41Ny40N2wtLjE3LS4wMi0uMTMtLjAyLS4yLS4wNHEtLjA4IDAtLjE0LS4wM2wtLjIxLS4wNUE3IDcgMCAwIDEgLjMgOS4wNmwtLjA2LS4yLS4wMy0uMTItLjA0LS4xN0E3IDcgMCAwIDEgLjE0IDUuNmwuMDMtLjEzLjE0LS41My4wNy0uMi4wNC0uMTMuMDctLjE4LjA0LS4xMUE3IDcgMCAwIDEgNC4zMi41M0w0LjQzLjVsLjE5LS4wNy4xMi0uMDQuMi0uMDcuMi0uMDYuMTItLjAzLjIxLS4wNS4xMy0uMDMuMjEtLjA0LjEzLS4wMi4xNy0uMDJRNi41NSAwIDcgMCIgc3R5bGU9ImZpbGw6IzRlZGNhMztmaWxsOmNvbG9yKGRpc3BsYXktcDMgLjMwNTIgLjg2NDMgLjY0MDcpO2ZpbGwtb3BhY2l0eToxIi8+PC9zdmc+");
    }

    &.passive::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0UwNDhCNSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNyAwYTcgNyAwIDEgMSAwIDE0QTcgNyAwIDAgMSA3IDBtMCA1YTIgMiAwIDEgMCAwIDQgMiAyIDAgMCAwIDAtNCIgY2xpcC1ydWxlPSJldmVub2RkIiBzdHlsZT0iZmlsbDojZTA0OGI1O2ZpbGw6Y29sb3IoZGlzcGxheS1wMyAuODc4NiAuMjgwNyAuNzA5Mik7ZmlsbC1vcGFjaXR5OjEiLz48L3N2Zz4=");
    }
}