body {
	--bases-cards-background: var(--color-whiteA5);
	--bases-cards-cover-background: var(--color-monoA3);
	--bases-cards-shadow:
		inset 0 0 0 0.5px var(--color-monoA5),
		inset 0 -1px 0 0 var(--color-monoA5);

	--bases-cards-shadow-hover:
		inset 0 0 0 0.5px var(--color-monoA7),
		inset 0 -1px 0 0 var(--color-monoA4);
	--bases-cards-line-height: 17px;
}

.bases-cards-item {
	border-radius: 10px;
}

.bases-cards-cover {
	position: absolute;
	overflow: hidden;
	height: 100px;
	background-color: var(--bases-cards-cover-background);
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: inset 0 -1px 0 0 var(--color-monoA2);
}

@media (hover: hover) {
	.bases-cards-item:hover {
		transition:
			box-shadow,
			background-color var(--anim-duration-fast);
		box-shadow: var(--bases-cards-shadow-hover);
		background-color: var(--color-monoA3);
	}
}

.bases-cards-item:active {
	transition:
		box-shadow,
		background-color var(--anim-duration-fast);
	box-shadow: var(--bases-cards-shadow-hover);
	background-color: var(--color-monoA7);
}

.bases-cards-line.bases-rendered-value {
	padding: 0;
}

.bases-cards-label {
	font-family: var(--font-monospace);
	font-size: 10px;
	position: relative;
	top: -2px;
	padding: 0;
	text-transform: uppercase;
	opacity: 0.7;
}

.bases-cards-property {
	padding: 0 16px;
}

.bases-cards-property.mod-title {
	padding-top: 15px;
}

.bases-cards-property.mod-title .bases-cards-line {
	font-size: 0.9em;
	font-weight: 600;
}

.bases-cards-item:last-child {
	padding-bottom: 14px;
}
