body {
	/* Callouts */
	--callout-border-width: 0px;
	--callout-border-opacity: 0.25;
	--callout-radius: 1px;
	--callout-blend-mode: var(--highlight-mix-blend-mode);
	--callout-title-color: inherit;
	--callout-title-padding: 0;
	--callout-title-size: inherit;
	--callout-content-padding: 0;
	--callout-content-background: transparent;
	--callout-bug: var(--color-red-rgb);
	--callout-default: var(--color-blue-rgb);
	--callout-error: var(--color-red-rgb);
	--callout-example: var(--color-purple-rgb);
	--callout-fail: var(--color-red-rgb);
	--callout-important: var(--color-cyan-rgb);
	--callout-info: var(--color-blue-rgb);
	--callout-question: var(--color-orange-rgb);
	--callout-success: var(--color-green-rgb);
	--callout-summary: var(--color-cyan-rgb);
	--callout-tip: var(--color-cyan-rgb);
	--callout-todo: var(--color-blue-rgb);
	--callout-warning: var(--color-orange-rgb);
	--callout-quote: 158, 158, 158;

	--callout-padding: min(2.5vw, 22px);
	--callout-padding-y: min(1.6vw, 16px);
	--callout-title-weight: 500;
}

.cm-callout {
}
.callout {
	padding-block: var(--callout-padding-y);
}

.callout-icon {
	display: none;
}

.callout-title {
	color: var(--color-baseA12);

	.callout-title-inner, .callout-title-inner * {
		padding: 0 !important;
		margin: 0 !important;
		padding-bottom: max(0.2em, 4px) !important;
	}
	
	.callout-title-inner *:empty  {
		display: none;
	}
}

.callout-content {
	overflow: unset;
	opacity: 1;
}

.markdown-rendered p {
	margin-block-start: unset;
	margin-block-end: unset;
}

.callout[data-callout="note"] {
	background-color: var(--color-baseA2);
}

.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"],
.callout[data-callout="danger"],
.callout[data-callout="error"] {
	background-color: var(--color-redA3);
}

.callout[data-callout="tip"],
.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
	background-color: var(--color-purpleA3);
}

.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
	background-color: var(--color-yellowA3);
}

.callout[data-callout="check"],
.callout[data-callout="success"],
.callout[data-callout="done"] {
	background-color: var(--color-greenA3);
}

.callout[data-callout="info"],
.callout[data-callout="todo"] {
	background-color: var(--color-blueA3);
}

.callout[data-callout="example"] {
	background-color: var(--color-mauveA3);
}

.callout[data-callout="quote"],
.callout[data-callout="cite"] {
	background-color: var(--color-bgA8);
	box-shadow: inset 0 0 0 0.5px var(--color-baseA7);
}
