/* [tabindex]:not([tabindex="-1"]) {
	background-color: red;
} */

[class*="button"],
[class*="clickable"],
[class*="tappable"] {
	/* background-color: blue !important; */
}

body:not(.is-mobile) {

	.clickable-icon {
		height: var(--input-height);
	}
}
