/* [tabindex]:not([tabindex="-1"]) {
	background-color: red;
} */

[class*="button"],
[class*="clickable"],
[class*="tappable"] {
	/* background-color: blue !important; */
}

body:not(.is-mobile) {

	.sidebar-toggle-button {
		/* height: 100%; */
		align-items: center;
	}

	.clickable-icon {
		height: var(--input-height);
	}
}
