.theme-dark {
	color-scheme: dark;
	--color-white: black;
	--color-black: white;
	--color-primary: #2aed27;
	--color-danger: #ff305c;
	--color-secondary: var(--color-tomato10);
	--color-overlay: rgba(7, 10, 14, 0.7);
	--color-background: #0e151f;
	--color-sidebarBackground: rgb(14 17 28);
	--color-borderHighlight: var(--color-bgA7);
	--color-popoverBackground: #18202d;
	--color-blurredBackground: rgba(57, 71, 89, 0.5);

	--color-baseA1: hsla(0, 0%, 0%, 0);
	--color-baseA2: hsla(240, 76.7%, 91.2%, 0.031);
	--color-baseA3: hsla(240, 86%, 95.8%, 0.061);
	--color-baseA4: hsla(240, 91.8%, 94.7%, 0.087);
	--color-baseA5: hsla(240, 91.5%, 95.8%, 0.113);
	--color-baseA6: hsla(240, 92%, 93.8%, 0.148);
	--color-baseA7: hsla(240, 94.8%, 95.3%, 0.191);
	--color-baseA8: hsla(249, 98.1%, 95.2%, 0.273);
	--color-baseA9: hsla(248, 97.6%, 96.2%, 0.416);
	--color-baseA10: hsla(248, 95.5%, 96.6%, 0.477);
	--color-baseA11: hsla(250, 98%, 98%, 0.615);
	--color-baseA12: hsla(240, 93.9%, 99.6%, 0.931);
	--color-bgA1: rgba(0, 0, 0, 0.05);
	--color-bgA2: rgba(0, 0, 0, 0.1);
	--color-bgA3: rgba(0, 0, 0, 0.15);
	--color-bgA4: rgba(0, 0, 0, 0.2);
	--color-bgA5: rgba(0, 0, 0, 0.3);
	--color-bgA6: rgba(0, 0, 0, 0.4);
	--color-bgA7: rgba(0, 0, 0, 0.5);
	--color-bgA8: rgba(0, 0, 0, 0.6);
	--color-bgA9: rgba(0, 0, 0, 0.7);
	--color-bgA10: rgba(0, 0, 0, 0.8);
	--color-bgA11: rgba(0, 0, 0, 0.9);
	--color-bgA12: rgba(0, 0, 0, 1);

	--color-gray1: hsl(0, 0%, 8.5%);
	--color-gray2: hsl(0, 0%, 11%);
	--color-gray3: hsl(0, 0%, 13.6%);
	--color-gray4: hsl(0, 0%, 15.8%);
	--color-gray5: hsl(0, 0%, 17.9%);
	--color-gray6: hsl(0, 0%, 20.5%);
	--color-gray7: hsl(0, 0%, 24.3%);
	--color-gray8: hsl(0, 0%, 31.2%);
	--color-gray9: hsl(0, 0%, 43.9%);
	--color-gray10: hsl(0, 0%, 49.4%);
	--color-gray11: hsl(0, 0%, 62.8%);
	--color-gray12: hsl(0, 0%, 93%);
	--color-grayA1: hsla(0, 0%, 100%, 0);
	--color-grayA2: hsla(0, 0%, 100%, 0.026);
	--color-grayA3: hsla(0, 0%, 100%, 0.056);
	--color-grayA4: hsla(0, 0%, 100%, 0.077);
	--color-grayA5: hsla(0, 0%, 100%, 0.103);
	--color-grayA6: hsla(0, 0%, 100%, 0.129);
	--color-grayA7: hsla(0, 0%, 100%, 0.172);
	--color-grayA8: hsla(0, 0%, 100%, 0.249);
	--color-grayA9: hsla(0, 0%, 100%, 0.386);
	--color-grayA10: hsla(0, 0%, 100%, 0.446);
	--color-grayA11: hsla(0, 0%, 100%, 0.592);
	--color-grayA12: hsla(0, 0%, 100%, 0.923);
	--color-amber1: hsl(36, 100%, 6.1%);
	--color-amber2: hsl(35, 100%, 7.6%);
	--color-amber3: hsl(32, 100%, 10.2%);
	--color-amber4: hsl(32, 100%, 12.4%);
	--color-amber5: hsl(33, 100%, 14.6%);
	--color-amber6: hsl(35, 100%, 17.1%);
	--color-amber7: hsl(35, 91%, 21.6%);
	--color-amber8: hsl(36, 100%, 25.5%);
	--color-amber9: hsl(39, 100%, 57%);
	--color-amber10: hsl(43, 100%, 64%);
	--color-amber11: hsl(39, 90%, 49.8%);
	--color-amber12: hsl(39, 97%, 93.2%);
	--color-amberA1: hsla(0, 0%, 0%, 0);
	--color-amberA2: hsla(31, 100%, 49.7%, 0.036);
	--color-amberA3: hsla(27, 100%, 49.9%, 0.094);
	--color-amberA4: hsla(29, 100%, 50%, 0.143);
	--color-amberA5: hsla(31, 100%, 50%, 0.192);
	--color-amberA6: hsla(35, 100%, 50%, 0.25);
	--color-amberA7: hsla(34, 99.6%, 52.9%, 0.331);
	--color-amberA8: hsla(36, 100%, 50%, 0.442);
	--color-amberA9: hsla(40, 100%, 57.2%, 0.98);
	--color-amberA10: hsla(44, 100%, 64.2%, 0.98);
	--color-amberA11: hsla(39, 99.9%, 52.7%, 0.938);
	--color-amberA12: hsla(45, 100%, 94.2%, 0.98);
	--color-blue1: hsl(212, 35%, 9.2%);
	--color-blue2: hsl(216, 50%, 11.8%);
	--color-blue3: hsl(214, 59.4%, 15.3%);
	--color-blue4: hsl(214, 65.8%, 17.9%);
	--color-blue5: hsl(213, 71.2%, 20.2%);
	--color-blue6: hsl(212, 77.4%, 23.1%);
	--color-blue7: hsl(211, 85.1%, 27.4%);
	--color-blue8: hsl(211, 89.7%, 34.1%);
	--color-blue9: hsl(206, 100%, 50%);
	--color-blue10: hsl(209, 100%, 60.6%);
	--color-blue11: hsl(210, 100%, 66.1%);
	--color-blue12: hsl(206, 98%, 95.8%);
	--color-blueA1: hsla(0, 0%, 0%, 0);
	--color-blueA2: hsla(221, 97.8%, 52.4%, 0.059);
	--color-blueA3: hsla(215, 99.3%, 54.2%, 0.135);
	--color-blueA4: hsla(215, 99.3%, 53.8%, 0.198);
	--color-blueA5: hsla(213, 99.4%, 52.8%, 0.252);
	--color-blueA6: hsla(212, 99.9%, 51.7%, 0.323);
	--color-blueA7: hsla(211, 100%, 50.7%, 0.435);
	--color-blueA8: hsla(211, 99.8%, 50.9%, 0.597);
	--color-blueA9: hsla(205, 100%, 50%, 0.98);
	--color-blueA10: hsla(208, 100%, 60.7%, 0.98);
	--color-blueA11: hsla(209, 100%, 66.3%, 0.98);
	--color-blueA12: hsla(196, 100%, 96.8%, 0.98);
	--color-bronze1: hsl(17, 10%, 8.8%);
	--color-bronze2: hsl(15, 14.8%, 10.6%);
	--color-bronze3: hsl(15, 16.3%, 14.3%);
	--color-bronze4: hsl(16, 17.1%, 17.2%);
	--color-bronze5: hsl(16, 17.6%, 19.6%);
	--color-bronze6: hsl(16, 18.1%, 22.9%);
	--color-bronze7: hsl(17, 18.8%, 28.8%);
	--color-bronze8: hsl(17, 19.6%, 38%);
	--color-bronze9: hsl(17, 20%, 54%);
	--color-bronze10: hsl(18, 24%, 59%);
	--color-bronze11: hsl(18, 35%, 68.5%);
	--color-bronze12: hsl(18, 57%, 94.1%);
	--color-bronzeA1: hsla(0, 0%, 0%, 0);
	--color-bronzeA2: hsla(20, 88.2%, 74.2%, 0.027);
	--color-bronzeA3: hsla(10, 99.4%, 83%, 0.074);
	--color-bronzeA4: hsla(18, 96%, 81.1%, 0.114);
	--color-bronzeA5: hsla(18, 99.4%, 81.7%, 0.148);
	--color-bronzeA6: hsla(15, 98.1%, 82.4%, 0.192);
	--color-bronzeA7: hsla(16, 99.2%, 82.9%, 0.27);
	--color-bronzeA8: hsla(18, 99.5%, 82.6%, 0.396);
	--color-bronzeA9: hsla(18, 99.3%, 85%, 0.592);
	--color-bronzeA10: hsla(18, 99.6%, 85.2%, 0.657);
	--color-bronzeA11: hsla(17, 99.9%, 86.1%, 0.774);
	--color-bronzeA12: hsla(20, 99.8%, 96.4%, 0.974);
	--color-brown1: hsl(22, 15%, 8.7%);
	--color-brown2: hsl(20, 28.3%, 10.4%);
	--color-brown3: hsl(20, 28%, 14%);
	--color-brown4: hsl(21, 28.4%, 16.5%);
	--color-brown5: hsl(22, 28.7%, 18.9%);
	--color-brown6: hsl(23, 29%, 22.3%);
	--color-brown7: hsl(25, 29.5%, 27.8%);
	--color-brown8: hsl(27, 30.1%, 35.9%);
	--color-brown9: hsl(28, 34%, 51%);
	--color-brown10: hsl(28, 41.4%, 55.8%);
	--color-brown11: hsl(28, 60%, 64.5%);
	--color-brown12: hsl(30, 67%, 94%);
	--color-brownA1: hsla(0, 0%, 0%, 0);
	--color-brownA2: hsla(22, 99.6%, 53.6%, 0.035);
	--color-brownA3: hsla(18, 97.8%, 69%, 0.088);
	--color-brownA4: hsla(21, 98.2%, 71%, 0.123);
	--color-brownA5: hsla(25, 98.4%, 72.1%, 0.158);
	--color-brownA6: hsla(25, 98.7%, 73.5%, 0.206);
	--color-brownA7: hsla(25, 99%, 74.6%, 0.289);
	--color-brownA8: hsla(28, 99.2%, 75.3%, 0.407);
	--color-brownA9: hsla(28, 100%, 74.8%, 0.642);
	--color-brownA10: hsla(28, 99.9%, 74.9%, 0.712);
	--color-brownA11: hsla(28, 99.9%, 74.9%, 0.843);
	--color-brownA12: hsla(32, 98.2%, 95.7%, 0.979);
	--color-crimson1: hsl(335, 20%, 9.6%);
	--color-crimson2: hsl(335, 32.2%, 11.6%);
	--color-crimson3: hsl(335, 42.5%, 16.5%);
	--color-crimson4: hsl(335, 47.2%, 19.3%);
	--color-crimson5: hsl(335, 50.9%, 21.8%);
	--color-crimson6: hsl(335, 55.7%, 25.3%);
	--color-crimson7: hsl(336, 62.9%, 30.8%);
	--color-crimson8: hsl(336, 74.9%, 39%);
	--color-crimson9: hsl(336, 80%, 57.8%);
	--color-crimson10: hsl(339, 84.1%, 62.6%);
	--color-crimson11: hsl(341, 90%, 67.3%);
	--color-crimson12: hsl(332, 87%, 96%);
	--color-crimsonA1: hsla(0, 0%, 0%, 0);
	--color-crimsonA2: hsla(336, 96.8%, 53.2%, 0.045);
	--color-crimsonA3: hsla(335, 98.7%, 59.3%, 0.138);
	--color-crimsonA4: hsla(336, 99.1%, 59.9%, 0.191);
	--color-crimsonA5: hsla(335, 99.4%, 59.4%, 0.244);
	--color-crimsonA6: hsla(335, 99.4%, 59.4%, 0.315);
	--color-crimsonA7: hsla(336, 99.5%, 57.8%, 0.439);
	--color-crimsonA8: hsla(336, 99.9%, 55.4%, 0.642);
	--color-crimsonA9: hsla(336, 99.9%, 62.8%, 0.903);
	--color-crimsonA10: hsla(339, 99.9%, 66.3%, 0.934);
	--color-crimsonA11: hsla(341, 99.9%, 69.5%, 0.965);
	--color-crimsonA12: hsla(327, 100%, 97.1%, 0.98);
	--color-cyan1: hsl(192, 60%, 7.2%);
	--color-cyan2: hsl(192, 71.4%, 8.2%);
	--color-cyan3: hsl(192, 75.9%, 10.8%);
	--color-cyan4: hsl(192, 79.3%, 12.8%);
	--color-cyan5: hsl(192, 82.5%, 14.6%);
	--color-cyan6: hsl(192, 86.6%, 16.9%);
	--color-cyan7: hsl(192, 92.6%, 20.1%);
	--color-cyan8: hsl(192, 100%, 24.5%);
	--color-cyan9: hsl(190, 95%, 39%);
	--color-cyan10: hsl(188, 100%, 40%);
	--color-cyan11: hsl(186, 100%, 42.2%);
	--color-cyan12: hsl(185, 73%, 93.2%);
	--color-cyanA1: hsla(0, 0%, 0%, 0);
	--color-cyanA2: hsla(196, 100%, 50%, 0.031);
	--color-cyanA3: hsla(192, 98%, 50.9%, 0.085);
	--color-cyanA4: hsla(194, 99.6%, 51.3%, 0.133);
	--color-cyanA5: hsla(192, 99.5%, 51.3%, 0.173);
	--color-cyanA6: hsla(193, 99.7%, 50.4%, 0.226);
	--color-cyanA7: hsla(192, 100%, 50%, 0.31);
	--color-cyanA8: hsla(193, 100%, 50%, 0.425);
	--color-cyanA9: hsla(190, 99.8%, 50.8%, 0.731);
	--color-cyanA10: hsla(188, 100%, 50%, 0.775);
	--color-cyanA11: hsla(186, 100%, 49.9%, 0.824);
	--color-cyanA12: hsla(185, 99.8%, 95.1%, 0.978);
	--color-gold1: hsl(44, 9%, 8.3%);
	--color-gold2: hsl(43, 14.3%, 9.6%);
	--color-gold3: hsl(42, 15.5%, 13%);
	--color-gold4: hsl(41, 16.4%, 15.6%);
	--color-gold5: hsl(41, 16.9%, 17.8%);
	--color-gold6: hsl(40, 17.6%, 20.8%);
	--color-gold7: hsl(38, 18.5%, 26.4%);
	--color-gold8: hsl(36, 19.6%, 35.1%);
	--color-gold9: hsl(36, 20%, 49.5%);
	--color-gold10: hsl(36, 22.3%, 54.5%);
	--color-gold11: hsl(35, 30%, 64%);
	--color-gold12: hsl(49, 52%, 93.8%);
	--color-goldA1: hsla(0, 0%, 0%, 0);
	--color-goldA2: hsla(40, 93.7%, 70.6%, 0.022);
	--color-goldA3: hsla(40, 97.5%, 80.6%, 0.065);
	--color-goldA4: hsla(40, 95.9%, 80.8%, 0.1);
	--color-goldA5: hsla(38, 97.3%, 82.1%, 0.13);
	--color-goldA6: hsla(39, 97.2%, 82.5%, 0.169);
	--color-goldA7: hsla(37, 99.3%, 82.4%, 0.246);
	--color-goldA8: hsla(35, 98.7%, 82.2%, 0.363);
	--color-goldA9: hsla(36, 99.7%, 82.8%, 0.552);
	--color-goldA10: hsla(35, 99.2%, 83.7%, 0.613);
	--color-goldA11: hsla(35, 99.3%, 85.3%, 0.725);
	--color-goldA12: hsla(49, 98.6%, 96.7%, 0.966);
	--color-green1: hsl(146, 30%, 7.4%);
	--color-green2: hsl(155, 44.2%, 8.4%);
	--color-green3: hsl(155, 46.7%, 10.9%);
	--color-green4: hsl(154, 48.4%, 12.9%);
	--color-green5: hsl(154, 49.7%, 14.9%);
	--color-green6: hsl(154, 50.9%, 17.6%);
	--color-green7: hsl(153, 51.8%, 21.8%);
	--color-green8: hsl(151, 51.7%, 28.4%);
	--color-green9: hsl(151, 55%, 41.5%);
	--color-green10: hsl(151, 49.3%, 46.5%);
	--color-green11: hsl(151, 50%, 53.2%);
	--color-green12: hsl(137, 72%, 94%);
	--color-greenA1: hsla(0, 0%, 0%, 0);
	--color-greenA2: hsla(169, 100%, 48.5%, 0.027);
	--color-greenA3: hsla(162, 98.7%, 57.9%, 0.07);
	--color-greenA4: hsla(158, 98.6%, 59.7%, 0.105);
	--color-greenA5: hsla(158, 98.6%, 60.7%, 0.14);
	--color-greenA6: hsla(156, 99.9%, 62%, 0.187);
	--color-greenA7: hsla(154, 99.5%, 63.1%, 0.257);
	--color-greenA8: hsla(152, 99.7%, 64.2%, 0.37);
	--color-greenA9: hsla(151, 99.7%, 63.8%, 0.605);
	--color-greenA10: hsla(152, 99.9%, 66.5%, 0.661);
	--color-greenA11: hsla(151, 99.7%, 69.2%, 0.74);
	--color-greenA12: hsla(137, 100%, 95.8%, 0.98);
	--color-olive1: hsl(110, 5%, 8.6%);
	--color-olive2: hsl(105, 7.4%, 10.6%);
	--color-olive3: hsl(106, 6.4%, 13.1%);
	--color-olive4: hsl(106, 5.8%, 15.3%);
	--color-olive5: hsl(107, 5.3%, 17.4%);
	--color-olive6: hsl(107, 4.9%, 19.9%);
	--color-olive7: hsl(108, 4.4%, 23.6%);
	--color-olive8: hsl(110, 3.8%, 30.6%);
	--color-olive9: hsl(110, 6%, 42.5%);
	--color-olive10: hsl(111, 4.8%, 48.2%);
	--color-olive11: hsl(110, 5%, 61.8%);
	--color-olive12: hsl(110, 6%, 93%);
	--color-oliveA1: hsla(0, 0%, 0%, 0);
	--color-oliveA2: hsla(91, 97%, 84%, 0.026);
	--color-oliveA3: hsla(101, 87.4%, 87.7%, 0.057);
	--color-oliveA4: hsla(92, 91.8%, 94.1%, 0.078);
	--color-oliveA5: hsla(101, 92.6%, 93.5%, 0.104);
	--color-oliveA6: hsla(102, 91.1%, 94.6%, 0.13);
	--color-oliveA7: hsla(102, 92.5%, 95.9%, 0.173);
	--color-oliveA8: hsla(107, 100%, 96.5%, 0.25);
	--color-oliveA9: hsla(110, 98.3%, 94.1%, 0.397);
	--color-oliveA10: hsla(109, 99.6%, 95.3%, 0.457);
	--color-oliveA11: hsla(113, 95.3%, 97.2%, 0.6);
	--color-oliveA12: hsla(120, 93.5%, 99.6%, 0.927);
	--color-indigo1: hsl(229, 24%, 10%);
	--color-indigo2: hsl(230, 36.4%, 12.9%);
	--color-indigo3: hsl(228, 43.3%, 17.5%);
	--color-indigo4: hsl(227, 47.2%, 21%);
	--color-indigo5: hsl(227, 50%, 24.1%);
	--color-indigo6: hsl(226, 52.9%, 28.2%);
	--color-indigo7: hsl(226, 56%, 34.5%);
	--color-indigo8: hsl(226, 58.2%, 44.1%);
	--color-indigo9: hsl(226, 70%, 55.5%);
	--color-indigo10: hsl(227, 75.2%, 61.6%);
	--color-indigo11: hsl(228, 100%, 75.9%);
	--color-indigo12: hsl(226, 83%, 96.3%);
	--color-indigoA1: hsla(0, 0%, 0%, 0);
	--color-indigoA2: hsla(234, 97.4%, 59.9%, 0.059);
	--color-indigoA3: hsla(228, 99.2%, 61.7%, 0.144);
	--color-indigoA4: hsla(227, 99.7%, 62%, 0.211);
	--color-indigoA5: hsla(227, 99.2%, 62.3%, 0.27);
	--color-indigoA6: hsla(226, 99.9%, 62.1%, 0.35);
	--color-indigoA7: hsla(226, 99.9%, 62%, 0.471);
	--color-indigoA8: hsla(226, 99.9%, 62.1%, 0.655);
	--color-indigoA9: hsla(226, 99.9%, 63.6%, 0.848);
	--color-indigoA10: hsla(227, 99.8%, 67.7%, 0.893);
	--color-indigoA11: hsla(227, 100%, 76.3%, 0.98);
	--color-indigoA12: hsla(226, 100%, 97.5%, 0.98);
	--color-mauve1: hsl(246, 6%, 9%);
	--color-mauve2: hsl(240, 5.1%, 11.6%);
	--color-mauve3: hsl(241, 5%, 14.3%);
	--color-mauve4: hsl(242, 4.9%, 16.5%);
	--color-mauve5: hsl(243, 4.9%, 18.8%);
	--color-mauve6: hsl(244, 4.9%, 21.5%);
	--color-mauve7: hsl(245, 4.9%, 25.4%);
	--color-mauve8: hsl(247, 4.8%, 32.5%);
	--color-mauve9: hsl(252, 4%, 45.2%);
	--color-mauve10: hsl(247, 3.4%, 50.7%);
	--color-mauve11: hsl(253, 4%, 63.7%);
	--color-mauve12: hsl(256, 6%, 93.2%);
	--color-mauveA1: hsla(0, 0%, 0%, 0);
	--color-mauveA2: hsla(240, 76.7%, 91.2%, 0.031);
	--color-mauveA3: hsla(240, 86%, 95.8%, 0.061);
	--color-mauveA4: hsla(240, 91.8%, 94.7%, 0.087);
	--color-mauveA5: hsla(240, 91.5%, 95.8%, 0.113);
	--color-mauveA6: hsla(240, 92%, 93.8%, 0.148);
	--color-mauveA7: hsla(240, 94.8%, 95.3%, 0.191);
	--color-mauveA8: hsla(249, 98.1%, 95.2%, 0.273);
	--color-mauveA9: hsla(248, 97.6%, 96.2%, 0.416);
	--color-mauveA10: hsla(248, 95.5%, 96.6%, 0.477);
	--color-mauveA11: hsla(250, 98%, 98%, 0.615);
	--color-mauveA12: hsla(240, 93.9%, 99.6%, 0.931);
	--color-mint1: hsl(173, 50%, 6.6%);
	--color-mint2: hsl(176, 73%, 7.3%);
	--color-mint3: hsl(175, 79.3%, 8.9%);
	--color-mint4: hsl(174, 84.8%, 10.3%);
	--color-mint5: hsl(174, 90.2%, 11.9%);
	--color-mint6: hsl(173, 96%, 13.8%);
	--color-mint7: hsl(172, 100%, 16.8%);
	--color-mint8: hsl(170, 100%, 21.4%);
	--color-mint9: hsl(167, 65%, 66%);
	--color-mint10: hsl(163, 80%, 77%);
	--color-mint11: hsl(167, 70%, 48%);
	--color-mint12: hsl(165, 80%, 94.8%);
	--color-mintA1: hsla(0, 0%, 0%, 0);
	--color-mintA2: hsla(180, 100%, 49.2%, 0.031);
	--color-mintA3: hsla(176, 100%, 49.7%, 0.07);
	--color-mintA4: hsla(173, 100%, 49.7%, 0.105);
	--color-mintA5: hsla(173, 100%, 49.8%, 0.144);
	--color-mintA6: hsla(172, 100%, 49.8%, 0.192);
	--color-mintA7: hsla(171, 100%, 49.9%, 0.266);
	--color-mintA8: hsla(169, 100%, 49.9%, 0.366);
	--color-mintA9: hsla(167, 99.8%, 75%, 0.87);
	--color-mintA10: hsla(163, 99.9%, 80.7%, 0.948);
	--color-mintA11: hsla(167, 99.9%, 58.7%, 0.796);
	--color-mintA12: hsla(169, 100%, 96.2%, 0.98);
	--color-orange1: hsl(30, 70%, 7.2%);
	--color-orange2: hsl(28, 100%, 8.4%);
	--color-orange3: hsl(26, 91.1%, 11.6%);
	--color-orange4: hsl(25, 88.3%, 14.1%);
	--color-orange5: hsl(24, 87.6%, 16.6%);
	--color-orange6: hsl(24, 88.6%, 19.8%);
	--color-orange7: hsl(24, 92.4%, 24%);
	--color-orange8: hsl(25, 100%, 29%);
	--color-orange9: hsl(24, 94%, 50%);
	--color-orange10: hsl(24, 100%, 58.5%);
	--color-orange11: hsl(24, 100%, 62.2%);
	--color-orange12: hsl(24, 97%, 93.2%);
	--color-orangeA1: hsla(0, 0%, 0%, 0);
	--color-orangeA2: hsla(13, 100%, 49.7%, 0.054);
	--color-orangeA3: hsla(20, 100%, 49.7%, 0.117);
	--color-orangeA4: hsla(23, 100%, 49.8%, 0.166);
	--color-orangeA5: hsla(23, 99.4%, 50.1%, 0.215);
	--color-orangeA6: hsla(23, 99.8%, 51.1%, 0.286);
	--color-orangeA7: hsla(23, 99.7%, 50.6%, 0.389);
	--color-orangeA8: hsla(24, 100%, 49.9%, 0.523);
	--color-orangeA9: hsla(24, 99.9%, 51.6%, 0.965);
	--color-orangeA10: hsla(25, 100%, 58.6%, 0.98);
	--color-orangeA11: hsla(24, 100%, 62.4%, 0.98);
	--color-orangeA12: hsla(26, 100%, 94.2%, 0.98);
	--color-pink1: hsl(318, 25%, 9.6%);
	--color-pink2: hsl(319, 32.2%, 11.6%);
	--color-pink3: hsl(319, 41%, 16%);
	--color-pink4: hsl(320, 45.4%, 18.7%);
	--color-pink5: hsl(320, 49%, 21.1%);
	--color-pink6: hsl(321, 53.6%, 24.4%);
	--color-pink7: hsl(321, 61.1%, 29.7%);
	--color-pink8: hsl(322, 74.9%, 37.5%);
	--color-pink9: hsl(322, 65%, 54.5%);
	--color-pink10: hsl(323, 72.8%, 59.2%);
	--color-pink11: hsl(325, 90%, 66.4%);
	--color-pink12: hsl(322, 90%, 95.8%);
	--color-pinkA1: hsla(0, 0%, 0%, 0);
	--color-pinkA2: hsla(320, 98.1%, 64.1%, 0.036);
	--color-pinkA3: hsla(320, 99.1%, 63.1%, 0.121);
	--color-pinkA4: hsla(320, 99.5%, 62.7%, 0.17);
	--color-pinkA5: hsla(319, 99.7%, 61.5%, 0.219);
	--color-pinkA6: hsla(322, 99.4%, 60.8%, 0.291);
	--color-pinkA7: hsla(321, 99.6%, 58.7%, 0.407);
	--color-pinkA8: hsla(322, 99.7%, 55.4%, 0.608);
	--color-pinkA9: hsla(322, 100%, 64.6%, 0.817);
	--color-pinkA10: hsla(323, 100%, 66.3%, 0.875);
	--color-pinkA11: hsla(325, 99.9%, 68.6%, 0.96);
	--color-pinkA12: hsla(314, 100%, 96.9%, 0.98);
	--color-plum1: hsl(301, 20%, 9.4%);
	--color-plum2: hsl(300, 29.8%, 11.2%);
	--color-plum3: hsl(298, 34.4%, 15.3%);
	--color-plum4: hsl(297, 36.8%, 18.3%);
	--color-plum5: hsl(296, 38.5%, 21.1%);
	--color-plum6: hsl(295, 40.4%, 24.7%);
	--color-plum7: hsl(294, 42.7%, 30.6%);
	--color-plum8: hsl(292, 45.1%, 40%);
	--color-plum9: hsl(292, 45%, 51%);
	--color-plum10: hsl(295, 50%, 55.4%);
	--color-plum11: hsl(300, 60%, 62%);
	--color-plum12: hsl(296, 74%, 95.7%);
	--color-plumA1: hsla(0, 0%, 0%, 0);
	--color-plumA2: hsla(300, 96.4%, 58.4%, 0.036);
	--color-plumA3: hsla(300, 99.4%, 67.1%, 0.102);
	--color-plumA4: hsla(295, 99.8%, 66.3%, 0.155);
	--color-plumA5: hsla(295, 99.4%, 67.1%, 0.204);
	--color-plumA6: hsla(294, 99%, 67.8%, 0.262);
	--color-plumA7: hsla(294, 99.9%, 67.7%, 0.363);
	--color-plumA8: hsla(292, 99.8%, 67.5%, 0.527);
	--color-plumA9: hsla(292, 99.9%, 69.2%, 0.695);
	--color-plumA10: hsla(295, 99.9%, 70.8%, 0.748);
	--color-plumA11: hsla(300, 99.8%, 72.9%, 0.828);
	--color-plumA12: hsla(300, 100%, 97.1%, 0.98);
	--color-purple1: hsl(284, 20%, 9.6%);
	--color-purple2: hsl(283, 30%, 11.8%);
	--color-purple3: hsl(281, 37.5%, 16.5%);
	--color-purple4: hsl(280, 41.2%, 20%);
	--color-purple5: hsl(279, 43.8%, 23.3%);
	--color-purple6: hsl(277, 46.4%, 27.5%);
	--color-purple7: hsl(275, 49.3%, 34.6%);
	--color-purple8: hsl(272, 52.1%, 45.9%);
	--color-purple9: hsl(272, 51%, 54%);
	--color-purple10: hsl(273, 57.3%, 59.1%);
	--color-purple11: hsl(275, 80%, 71%);
	--color-purple12: hsl(279, 75%, 95.7%);
	--color-purpleA1: hsla(0, 0%, 0%, 0);
	--color-purpleA2: hsla(280, 96.5%, 57.5%, 0.045);
	--color-purpleA3: hsla(279, 98.7%, 62.8%, 0.129);
	--color-purpleA4: hsla(279, 99.1%, 64%, 0.191);
	--color-purpleA5: hsla(278, 99.8%, 64.2%, 0.248);
	--color-purpleA6: hsla(276, 99.6%, 64.6%, 0.328);
	--color-purpleA7: hsla(274, 99.9%, 64.6%, 0.456);
	--color-purpleA8: hsla(272, 99.7%, 64.6%, 0.66);
	--color-purpleA9: hsla(272, 99.9%, 69.1%, 0.748);
	--color-purpleA10: hsla(273, 100%, 71.3%, 0.801);
	--color-purpleA11: hsla(275, 99.9%, 75.3%, 0.934);
	--color-purpleA12: hsla(286, 100%, 97.1%, 0.98);
	--color-red1: hsl(353, 23%, 9.8%);
	--color-red2: hsl(357, 34.4%, 12%);
	--color-red3: hsl(356, 43.4%, 16.4%);
	--color-red4: hsl(356, 47.6%, 19.2%);
	--color-red5: hsl(356, 51.1%, 21.9%);
	--color-red6: hsl(356, 55.2%, 25.9%);
	--color-red7: hsl(357, 60.2%, 31.8%);
	--color-red8: hsl(358, 65%, 40.4%);
	--color-red9: hsl(358, 75%, 59%);
	--color-red10: hsl(358, 85.3%, 64%);
	--color-red11: hsl(358, 100%, 69.5%);
	--color-red12: hsl(351, 89%, 96%);
	--color-redA1: hsla(0, 0%, 0%, 0);
	--color-redA2: hsla(5, 98.5%, 53.8%, 0.045);
	--color-redA3: hsla(359, 99.1%, 61.1%, 0.13);
	--color-redA4: hsla(358, 98.8%, 61%, 0.184);
	--color-redA5: hsla(357, 99.6%, 60.3%, 0.237);
	--color-redA6: hsla(358, 99.6%, 60.3%, 0.322);
	--color-redA7: hsla(357, 100%, 59.5%, 0.442);
	--color-redA8: hsla(358, 99.8%, 59.1%, 0.621);
	--color-redA9: hsla(358, 100%, 65.5%, 0.884);
	--color-redA10: hsla(358, 100%, 67.5%, 0.942);
	--color-redA11: hsla(358, 100%, 69.7%, 0.98);
	--color-redA12: hsla(352, 100%, 97.1%, 0.98);
	--color-sand1: hsl(61, 2%, 8.3%);
	--color-sand2: hsl(60, 3.7%, 10.6%);
	--color-sand3: hsl(58, 3.7%, 13.1%);
	--color-sand4: hsl(57, 3.6%, 15.3%);
	--color-sand5: hsl(56, 3.7%, 17.4%);
	--color-sand6: hsl(55, 3.7%, 19.9%);
	--color-sand7: hsl(53, 3.7%, 23.6%);
	--color-sand8: hsl(50, 3.8%, 30.6%);
	--color-sand9: hsl(50, 4%, 42.7%);
	--color-sand10: hsl(52, 3.1%, 48.3%);
	--color-sand11: hsl(50, 4%, 61.8%);
	--color-sand12: hsl(56, 4%, 92.8%);
	--color-sandA1: hsla(0, 0%, 0%, 0);
	--color-sandA2: hsla(60, 89.8%, 91.4%, 0.026);
	--color-sandA3: hsla(60, 95.5%, 92.5%, 0.056);
	--color-sandA4: hsla(60, 75.6%, 96.4%, 0.078);
	--color-sandA5: hsla(60, 81.9%, 95.2%, 0.104);
	--color-sandA6: hsla(41, 87.6%, 94.8%, 0.134);
	--color-sandA7: hsla(60, 95.4%, 96.2%, 0.172);
	--color-sandA8: hsla(49, 93.5%, 95.7%, 0.254);
	--color-sandA9: hsla(52, 97.3%, 96.2%, 0.391);
	--color-sandA10: hsla(52, 97.8%, 96.7%, 0.451);
	--color-sandA11: hsla(51, 97%, 97.8%, 0.597);
	--color-sandA12: hsla(60, 88.7%, 99.8%, 0.923);

	--color-teal1: hsl(168, 48%, 6.5%);
	--color-teal2: hsl(169, 77.8%, 7.1%);
	--color-teal3: hsl(170, 76.1%, 9.2%);
	--color-teal4: hsl(171, 75.8%, 11%);
	--color-teal5: hsl(171, 75.7%, 12.8%);
	--color-teal6: hsl(172, 75.8%, 15.1%);
	--color-teal7: hsl(172, 76.7%, 18.6%);
	--color-teal8: hsl(173, 80.2%, 23.7%);
	--color-teal9: hsl(173, 80%, 36%);
	--color-teal10: hsl(174, 83.9%, 38.2%);
	--color-teal11: hsl(174, 90%, 40.7%);
	--color-teal12: hsl(166, 73%, 93.1%);
	--color-tealA1: hsla(0, 0%, 0%, 0);
	--color-tealA2: hsla(171, 100%, 49.2%, 0.031);
	--color-tealA3: hsla(172, 100%, 49.7%, 0.07);
	--color-tealA4: hsla(175, 100%, 49.7%, 0.105);
	--color-tealA5: hsla(174, 98.9%, 50.1%, 0.14);
	--color-tealA6: hsla(174, 100%, 51.8%, 0.187);
	--color-tealA7: hsla(173, 99.6%, 53.2%, 0.257);
	--color-tealA8: hsla(174, 99.6%, 53.3%, 0.366);
	--color-tealA9: hsla(173, 99.9%, 54.6%, 0.609);
	--color-tealA10: hsla(174, 99.9%, 53.8%, 0.67);
	--color-tealA11: hsla(174, 100%, 52%, 0.748);
	--color-tealA12: hsla(166, 98.6%, 95%, 0.979);
	--color-tomato1: hsl(10, 23%, 9.4%);
	--color-tomato2: hsl(9, 44.8%, 11.4%);
	--color-tomato3: hsl(8, 52%, 15.3%);
	--color-tomato4: hsl(7, 56.3%, 18%);
	--color-tomato5: hsl(7, 60.1%, 20.6%);
	--color-tomato6: hsl(8, 64.8%, 24%);
	--color-tomato7: hsl(8, 71.2%, 29.1%);
	--color-tomato8: hsl(10, 80.2%, 35.7%);
	--color-tomato9: hsl(10, 78%, 54%);
	--color-tomato10: hsl(10, 81.7%, 59%);
	--color-tomato11: hsl(10, 85%, 62.8%);
	--color-tomato12: hsl(10, 89%, 96%);
	--color-tomatoA1: hsla(0, 0%, 0%, 0);
	--color-tomatoA2: hsla(5, 100%, 49.6%, 0.058);
	--color-tomatoA3: hsla(6, 99.6%, 54.9%, 0.133);
	--color-tomatoA4: hsla(6, 99.2%, 55.4%, 0.191);
	--color-tomatoA5: hsla(6, 99.5%, 55.8%, 0.244);
	--color-tomatoA6: hsla(7, 99.7%, 55.9%, 0.319);
	--color-tomatoA7: hsla(8, 99.8%, 54.8%, 0.434);
	--color-tomatoA8: hsla(10, 99.8%, 53.5%, 0.598);
	--color-tomatoA9: hsla(10, 100%, 59.7%, 0.885);
	--color-tomatoA10: hsla(10, 100%, 63.6%, 0.916);
	--color-tomatoA11: hsla(10, 99.7%, 66.4%, 0.939);
	--color-tomatoA12: hsla(12, 100%, 97.1%, 0.98);
	--color-violet1: hsl(250, 20%, 10.2%);
	--color-violet2: hsl(255, 30.3%, 12.9%);
	--color-violet3: hsl(253, 37%, 18.4%);
	--color-violet4: hsl(252, 40.1%, 22.5%);
	--color-violet5: hsl(252, 42.2%, 26.2%);
	--color-violet6: hsl(251, 44.3%, 31.1%);
	--color-violet7: hsl(250, 46.8%, 38.9%);
	--color-violet8: hsl(250, 51.8%, 51.2%);
	--color-violet9: hsl(252, 56%, 57.5%);
	--color-violet10: hsl(251, 63.2%, 63.2%);
	--color-violet11: hsl(250, 95%, 76.8%);
	--color-violet12: hsl(252, 87%, 96.4%);
	--color-violetA1: hsla(0, 0%, 0%, 0);
	--color-violetA2: hsla(258, 98.2%, 61%, 0.054);
	--color-violetA3: hsla(252, 98.8%, 65.8%, 0.148);
	--color-violetA4: hsla(253, 99.7%, 65.7%, 0.219);
	--color-violetA5: hsla(252, 99.7%, 66.4%, 0.286);
	--color-violetA6: hsla(251, 99.7%, 66.2%, 0.371);
	--color-violetA7: hsla(250, 99.7%, 66.3%, 0.514);
	--color-violetA8: hsla(250, 99.7%, 66.1%, 0.733);
	--color-violetA9: hsla(252, 99.9%, 70.3%, 0.786);
	--color-violetA10: hsla(251, 99.9%, 72.9%, 0.844);
	--color-violetA11: hsla(250, 100%, 77.9%, 0.98);
	--color-violetA12: hsla(254, 100%, 97.5%, 0.98);

	--color-yellow1: hsl(45, 100%, 5.5%);
	--color-yellow2: hsl(46, 100%, 6.7%);
	--color-yellow3: hsl(45, 100%, 8.7%);
	--color-yellow4: hsl(45, 100%, 10.4%);
	--color-yellow5: hsl(47, 100%, 12.1%);
	--color-yellow6: hsl(49, 100%, 14.3%);
	--color-yellow7: hsl(49, 90.3%, 18.4%);
	--color-yellow8: hsl(50, 100%, 22%);
	--color-yellow9: hsl(53, 92%, 50%);
	--color-yellow10: hsl(54, 100%, 68%);
	--color-yellow11: hsl(48, 100%, 47%);
	--color-yellow12: hsl(53, 100%, 91%);
	--color-yellowA1: hsla(0, 0%, 0%, 0);
	--color-yellowA2: hsla(49, 100%, 49.1%, 0.027);
	--color-yellowA3: hsla(45, 100%, 49.7%, 0.071);
	--color-yellowA4: hsla(46, 100%, 49.7%, 0.111);
	--color-yellowA5: hsla(47, 100%, 49.9%, 0.15);
	--color-yellowA6: hsla(51, 100%, 49.8%, 0.199);
	--color-yellowA7: hsla(51, 99.8%, 53.6%, 0.269);
	--color-yellowA8: hsla(51, 100%, 49.9%, 0.371);
	--color-yellowA9: hsla(53, 100%, 52%, 0.956);
	--color-yellowA10: hsla(56, 100%, 68.4%, 0.98);
	--color-yellowA11: hsla(48, 100%, 50%, 0.934);
	--color-yellowA12: hsla(60, 100%, 91.8%, 0.98);
	--shadows-modal:
		2px 60px 60px 0 rgba(0, 0, 0, 0.4),
		inset 0 0 0 0.5px rgba(255, 255, 255, 0.02),
		inset 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
	--shadows-popover:
		0 6px 12px 0 var(--color-bgA5), 0 10px 18px 0 var(--color-bgA4),
		0 0 0 0.5px rgba(0, 0, 0, 0.04),
		inset 0 0 0 0.5px rgba(255, 255, 255, 0.05);
	--shadows-toast:
		0 10px 12px 0 rgba(0, 0, 0, 0.24), 0 12px 18px 0 rgba(0, 0, 0, 0.12),
		0 0 0 0.5px rgba(0, 0, 0, 0.04),
		inset 0 0 0 0.5px rgba(255, 255, 255, 0.02);
}
