@import "./colorsCustomLight.css";
@import "./colorsCustomDark.css";

.theme-light {
	color-scheme: light;

	--accent-reference: hsl(148, 100%, 26%);
	--accent-h: 148;
	--accent-s: 100%;
	--accent-l: 26%;

	--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
	--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	--color-accent-1: hsl(
		calc(var(--accent-h) - 3),
		calc(var(--accent-s) * 1.02),
		calc(var(--accent-l) * 1.15)
	);
	--color-accent-2: hsl(
		calc(var(--accent-h) - 5),
		calc(var(--accent-s) * 1.05),
		calc(var(--accent-l) * 1.29)
	);

	--text-on-accent: var(--color-background);
	--text-on-accent-inverted: var(--color-background);

	--highlight-mix-blend-mode: darken;
	--mono-rgb-0: 255, 255, 255;
	--mono-rgb-100: 0, 0, 0;
	--color-red-rgb: 233, 49, 71;
	--color-red: var(--color-red10);
	--color-orange-rgb: 236, 117, 0;
	--color-orange: var(--color-orange10);
	--color-yellow-rgb: 224, 172, 0;
	--color-yellow: var(--color-yellow10);
	--color-green-rgb: 8, 185, 78;
	--color-green: var(--color-green10);
	--color-cyan-rgb: 0, 191, 188;
	--color-cyan: var(--color-cyan10);
	--color-blue-rgb: 8, 109, 221;
	--color-blue: var(--color-blue10);
	--color-purple-rgb: 120, 82, 238;
	--color-purple: var(--color-purple10);
	--color-pink-rgb: 213, 57, 132;
	--color-pink: var(--color-crimson10);
	--color-base-00: var(--color-baseA1);
	--color-base-05: var(--color-baseA2);
	--color-base-10: var(--color-baseA3);
	--color-base-20: var(--color-baseA4);
	--color-base-25: var(--color-baseA5);
	--color-base-30: var(--color-baseA6);
	--color-base-35: var(--color-baseA7);
	--color-base-40: var(--color-baseA8);
	--color-base-50: var(--color-baseA9);
	--color-base-60: var(--color-baseA10);
	--color-base-70: var(--color-baseA11);
	--color-base-100: var(--color-baseA12);

	--background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
	--background-modifier-cover: rgba(220, 220, 220, 0.4);
	--input-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
		0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04),
		0 0 0 0 transparent;
	--input-shadow-hover:
		inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04),
		0 0 0 0 transparent;
	--shadow-edges: 0 0 transparent;
	--shadow-xs:
		0 1px 6px rgba(0, 0, 0, 0.015), 0 4px 24px rgba(0, 0, 0, 0.065),
		var(--shadow-edges);
	--shadow-s:
		0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
		0px 15px 30px rgba(0, 0, 0, 0.07);
	--shadow-l:
		2px 60px 60px 0 rgba(0, 0, 0, 0.4), 0 0 0 0.5px rgba(0, 0, 0, 0.1),
		inset 0 0 0 0.5px rgba(255, 255, 255, 0.1);
}
.theme-dark {
	color-scheme: dark;

	--accent-reference: hsl(54, 85%, 52%);
	--accent-h: 54;
	--accent-s: 85%;
	--accent-l: 52%;

	--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
	--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	--color-accent-1: hsl(
		calc(var(--accent-h) - 3),
		calc(var(--accent-s) * 1.02),
		calc(var(--accent-l) * 1.15)
	);
	--color-accent-2: hsl(
		calc(var(--accent-h) - 5),
		calc(var(--accent-s) * 1.05),
		calc(var(--accent-l) * 1.29)
	);

	--text-on-accent: var(--color-background);
	--text-on-accent-inverted: var(--color-background);

	--highlight-mix-blend-mode: lighten;
	--mono-rgb-0: 0, 0, 0;
	--mono-rgb-100: 255, 255, 255;
	--color-red-rgb: 251, 70, 76;
	--color-red-rgb: 233, 49, 71;
	--color-red: var(--color-red10);
	--color-orange-rgb: 236, 117, 0;
	--color-orange: var(--color-orange10);
	--color-yellow-rgb: 224, 172, 0;
	--color-yellow: var(--color-yellow10);
	--color-green-rgb: 8, 185, 78;
	--color-green: var(--color-green10);
	--color-cyan-rgb: 0, 191, 188;
	--color-cyan: var(--color-cyan10);
	--color-blue-rgb: 8, 109, 221;
	--color-blue: var(--color-blue10);
	--color-purple-rgb: 120, 82, 238;
	--color-purple: var(--color-purple10);
	--color-pink-rgb: 213, 57, 132;
	--color-pink: var(--color-crimson10);
	--color-base-00: var(--color-baseA1);
	--color-base-05: var(--color-baseA2);
	--color-base-10: var(--color-baseA3);
	--color-base-20: var(--color-baseA4);
	--color-base-25: var(--color-baseA5);
	--color-base-30: var(--color-baseA6);
	--color-base-35: var(--color-baseA7);
	--color-base-40: var(--color-baseA8);
	--color-base-50: var(--color-baseA9);
	--color-base-60: var(--color-baseA10);
	--color-base-70: var(--color-baseA11);
	--color-base-100: var(--color-baseA12);

	--blur-background: color-mix(
			in srgb,
			var(--interactive-normal) var(--blur-opacity-s),
			transparent
		)
		linear-gradient(
			var(--interactive-normal),
			color-mix(
				in srgb,
				var(--interactive-normal) var(--blur-opacity-s),
				transparent
			)
		);

	--interactive-normal: var(--color-base-30);
	--interactive-hover: var(--color-base-35);
	--text-accent: var(--color-accent-1);
	--interactive-accent: var(--color-accent);
	--interactive-accent-hover: var(--color-accent-1);
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-cover: rgba(10, 10, 10, 0.4);
	--raised-mask-background: transparent;
	--text-selection: hsla(var(--interactive-accent-hsl), 0.33);
	--input-shadow:
		inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
		0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
	--input-shadow-hover:
		inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
		0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
		0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
	--shadow-xs:
		0 1px 6px rgba(0, 0, 0, 0.045), 0 4px 24px rgba(0, 0, 0, 0.195),
		var(--shadow-edges);
	--shadow-s:
		0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
		0px 15px 30px rgba(0, 0, 0, 0.3);
	--shadow-l:
		0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
		0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
	--pdf-shadow: 0 0 0 1px var(--background-modifier-border);
	--pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
}
