body {
}

/* EMBED */
.embed-title {
	font-weight: 400;
	font-size: 0.8em;
	opacity: 0.5;
	padding: 0;
	margin: 0;
	font-family: var(--font-monospace);
	gap: 0.1em;
}

.embed-title::before {
	content: "[";
}

.embed-title::after {
	content: "]";
}
