body:not(.is-mobile) {
	--embed-padding: 0;
}

body.is-phone {
	.bases-embed {
		.bases-header {
			padding-left: 22px;
			padding-right: 22px;
		}

		.bases-view > * {
			padding-left: 22px !important;
		}
	}
}

/* EMBED */
.embed-title {
	font-weight: 400;

	padding: 0;
	margin: 0;
	font-family: var(--font-monospace);
	gap: 0.1em;
	display: inline-flex;
}

.inline-embed > .embed-title.markdown-embed-title {
	color: var(--text-color);
	padding: 2px 8px;
	font-weight: 500;
	background-color: var(--color-bgA5);
	margin-bottom: 16px;
	font-size: 0.7em;
	box-shadow: 0 0 0 1px var(--color-baseA7);
}

.markdown-embed {
	background-color: var(--color-baseA2);
	box-shadow: 0 0 0 1px var(--color-baseA3);
	/* box-shadow: var(--shadows-popover); */
	padding: 12px;
	border-inline-start-color: transparent;
}