body {
	--h1-size: 1.462em;
	--h2-size: 1.318em;
	--h3-size: 1.188em;
	--h4-size: 1.076em;
	--h5-size: 1.02em;
	--h6-size: 1em;

	--h1-weight: 500;
	--h2-weight: 500;
	--h3-weight: 500;
	--h4-weight: 500;
	--h5-weight: 500;
	--h6-weight: 500;

	--h1-line-height: 1.3;
	--h2-line-height: 1.4;
	--h3-line-height: 1.5;
	--h4-line-height: 1.6;
	--h5-line-height: 1.64;
	--h6-line-height: 1.68;
	--h7-line-height: 1.7;
}

.cm-s-obsidian .cm-line.HyperMD-header {
	padding-bottom: 0.15em;
	padding-top: 0.15em;
	font-family: var(--system-font);
	/* letter-spacing: -0.01em !important; */
}
