.cm-custom-highlight {
	border-radius: 1px;
	background-color: var(--color-yellow5) !important;
	padding: 1px 2px;
}

.cm-custom-highlight-red {
	background-color: var(--color-red5) !important;
}

.cm-custom-highlight-green {
	background-color: var(--color-green5) !important;
}

.cm-custom-highlight-orange {
	background-color: var(--color-orange5) !important;
}

.cm-custom-highlight-yellow {
	background-color: var(--color-yellow5) !important;
}

.cm-custom-highlight-cyan {
	background-color: var(--color-cyan5) !important;
}

.cm-custom-highlight-blue {
	background-color: var(--color-blue5) !important;
}

.cm-custom-highlight-purple {
	background-color: var(--color-purple5) !important;
}

.cm-custom-highlight-pink {
	background-color: var(--color-pink5) !important;
}

.cm-custom-highlight-accent {
	background-color: var(--color-baseA12) !important;

	.cm-highlight {
		color: var(--text-on-accent) !important;
	}
}
