.meta-maker {
    .modal-header {
        border-bottom: 1px solid var(--color-baseA5);
    }

    .meta-maker-search-bar {
        display: flex;
    }

    /* Remove custom styles for inputs to use defaults */
    .meta-maker-search-input {
        width: 100%;
        margin-block: 8px;
        box-shadow: inset 0 0 0 1px var(--color-baseA10);
        border: unset !important;

        &:focus {
            box-shadow: inset  0 0 0 2px var(--color-accent) !important;
        }
    }

    .meta-maker-results {
        h4 {
            margin: 0;
            font-size: 13px;
            margin-top: 12px;
            margin-bottom: 2px;
            font-weight: 600 !important;
        }
    }

    /* Input Groups - Fieldset-like appearance */
    .meta-maker-input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: inset 0 0 0 1px var(--color-baseA4);
        background-color: var(--color-baseA3);

        & label:first-child {
            &:has(input[type="radio"]) {
                color: var(--color-red);

                &.is-checked {
                    background-color: var(--color-redA4);
                    box-shadow: inset 0 0 0 1px var(--color-redA4), inset 3px 0 0 0 var(--color-red);
                }
            }
        }

        .meta-maker-alias-item-wrapper {
            display: flex;
            align-items: center;

            label {
                flex-grow: 1;
            }

            .meta-maker-alias-search-btn {
                width: 44px;
                padding: 0;
                height: -webkit-fill-available;
                border-radius: 0 !important;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: inset 0 0 0 1px var(--color-baseA5);
                background-color: var(--color-baseA3);

                &:hover {
                    background-color: var(--color-baseA5);
                }
            }

        }
    }

    .meta-maker-input-item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 10px;
        cursor: pointer;
        transition: background-color 0.1s;
        box-shadow: inset 0 -1px 0 0 var(--color-baseA3);

        &:last-child {
            box-shadow: none;
        }

        & [type="radio"]{
            display: none;
        }
    }

    .meta-maker-input-item:hover {
        background-color: var(--background-modifier-hover);
    }

    /* Dimmed checked style for checkboxes/radios */
    .meta-maker-input-item.is-checked {
        background-color: var(--color-greenA4); /* More distinct active color */
        box-shadow: inset 0 -1px 0 0 var(--color-greenA4), 0 -1px 0 0 var(--color-greenA5), inset 3px 0 0 0 var(--color-green);
        /* color: var(--text-on-accent); */
    }

    /* Make the radio/checkbox itself match the theme if possible, or just standard */
    .meta-maker-input-item input {
        margin: 0;
    }

    /* Cover Image Grid - 5 items per row */
    .meta-maker-cover-grid {
        display: inline-flex;
        gap: 4px;
        flex-wrap: wrap;
    }

    .meta-maker-cover-item {
        cursor: pointer;
        position: relative;
        border: 2px solid transparent; /* Placeholder to prevent layout shift */
        box-sizing: border-box;
        width: auto;
        height: 120px;
        opacity: 0.5;
    }

    .meta-maker-cover-item img {
        width: auto;
        height: 100%;
    }

    /* Selection style: Red border */
    .meta-maker-cover-item:hover, .meta-maker-cover-item.selected {
        opacity: 1;
    }
    
    .meta-maker-cover-item.selected {
        border-color: var(--color-greenA10);
    }

    .meta-maker-form-section {
        display: flex;
        flex-direction: column;
    }

    .meta-maker-label {
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--text-muted);
    }

    .meta-maker-input {
    }

    /* summary */
    .meta-maker-textarea {
        resize: vertical;
        min-height: 64px;
        width: 100%;
    }

    .meta-maker-actions {
        
    }

    .meta-maker-loading, .meta-maker-warning {
        padding: 20px;
        text-align: center;
        color: var(--color-accent);
        font-family: var(--font-monospace);
    }

    .modal-button-container {
        padding-top: 0 !important;
        border-top: 1px solid var(--color-baseA5);        
    }
}

