@keyframes modalShow {
	from {
		opacity: 0;
		transform: scale3d(1.07, 1.07, 1);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body:not(.is-mobile) {
	.prompt,
	.modal {
		border: unset;
		border-radius: 5px;
		background-color: var(--color-background);
		box-shadow: var(--shadows-modal) !important;
		animation-name: modalShow;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0, 1.4, 0.8, 1);
		animation-duration: 0.3s;
	}

	.modal-bg {
		background-color: var(--color-overlay);
		backdrop-filter: blur(1px);

		animation-name: overlayShow;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
		animation-duration: 0.24s;
	}
}

.modal-container.mod-dim .modal:not(.mod-settings) {
	max-width: 380px;
}

.modal-container.mod-dim .modal {
	padding: 0;

	.modal-header,
	h2,
	p {
		margin: 0;
		padding: 0 16px 0 16px;
	}

	.modal-title,
	h2 {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.5;
		padding-top: 12px;
	}

	.modal-content {
		padding: 0;
		font-size: 12px;

		p {
			margin: 4px 0;
			line-height: 1.4;
			color: var(--color-baseA10);
		}
	}

	.modal-button-container {
		flex-direction: column;
		gap: 0;
		margin-top: 1em;

		& button {
			display: flex;
			justify-content: flex-start;
			background-color: transparent;
			box-shadow: inset 0 0.5px 0 0 var(--color-baseA5);
			height: 40px;
			color: var(--color-baseA9);

			&:hover {
				background-color: var(--dimmed-background);
			}
			&:active {
				background-color: var(--hover-background);
			}
		}

		& > * {
			padding: 8px 16px;
			font-size: 15px;
			font-weight: 400;
		}

		.mod-warning {
			color: var(--color-red9);
		}

		.mod-checkbox {
			padding-bottom: 12px;
		}

		.mod-cancel {
			color: var(--color-baseA9);
		}

		.mod-cta {
			color: var(--color-accent);
		}
	}
}
