@keyframes modalShow {
	from {
		opacity: 0;
		transform: scale3d(1.07, 1.07, 1);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.prompt,
.modal {
	background-color: var(--color-popoverBackground);
	box-shadow: var(--shadows-modal) !important;
	animation-name: modalShow;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0,1.4,.8,1);
	animation-duration: 0.3s;
	
}

body:not(.is-mobile) {
	--custom-modal-title-font-size: 17px;
	--custom-modal-title-font-weight: 500;
	--custom-modal-title-line-height: 1.5;
	--custom-modal-title-padding-top: 12px;
	--custom-modal-item-padding-x: 16px;
	--custom-modal-item-padding-y: 8px;
	--custom-modal-item-padding: var(--custom-modal-item-padding-y)
		var(--custom-modal-item-padding-x);

	.modal-container {
		align-items: flex-start;
	}

	.prompt,
	.modal {
		border: unset;
		border-radius: 5px;
		background-color: var(--color-popoverBackground);
		box-shadow: var(--shadows-modal) !important;
		animation-name: modalShow;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0,1.4,.8,1);
		animation-duration: 0.3s;
		top: 0px;
		margin-top: 10vh;
		max-height: 80vh;
		padding: 0;

		.modal-close-button {
			padding: 0;
			width: 40px;
			height: 40px;
			top: 0;
			right: 0;

			&:active {
				background-color: var(--hover-background);
			}
		}
	}

	.modal:not(.mod-sidebar-layout) {
		/* INITIALIZE */
		h2,
		.modal-header,
		p {
			margin: 0;
		}

		& div {
			margin: 0;
			padding-inline: 0;
		}

		& * {
			font-weight: 400 !important;
		}

		.modal-title:empty {
			display: none;
		}

		/* INITIALIZE END */

		.modal-title,
		h2:not(.modal-content h2) {
			font-size: 17px;
			font-weight: 500;
			line-height: 1.5;
			padding-inline: var(--custom-modal-item-padding-x);
		}

		.modal-title,
		h2 {
			padding-top: calc(var(--custom-modal-item-padding-y) * 1.2);
			padding-bottom: calc(var(--custom-modal-item-padding-y) * 1);
		}

		.modal-header:empty {
			display: none;
		}

		.modal-content {
			font-size: 12px;
			line-height: 1.4;
			margin: 0;

			& > *:not(.modal-button-container) {
				padding-inline: var(--custom-modal-item-padding-x);
			}

			/* 텍스트만 있는 경우  */
			&:not(:has(*)) {
				padding-inline: var(--custom-modal-item-padding-x);
			}
		}

		.modal-button-container {
			flex-direction: column;
			gap: 0;
			padding-top: calc(var(--custom-modal-item-padding-y) * 1.5);

			& button {
				display: flex;
				justify-content: flex-start;
				background-color: transparent;
				box-shadow: inset 0 0.5px 0 0 var(--color-baseA5);
				height: 40px;
				color: var(--color-baseA9);

				&:hover {
					background-color: var(--dimmed-background);
				}
				&:active {
					background-color: var(--hover-background);
				}
			}

			& > * {
				padding: var(--custom-modal-item-padding);
				font-size: 15px;
				font-weight: 500;
				width: 100%;
			}

			.mod-warning {
				color: var(--color-danger);
			}

			.mod-destructive {
				color: var(--color-danger);
			}

			.mod-checkbox {
				padding-block: var(--custom-modal-item-padding-y);
			}

			.mod-cancel {
				color: var(--color-baseA9);
			}

			.mod-cta {
				color: var(--color-accent);
			}
		}
	}
}

.modal-bg {
	background-color: var(--color-overlay);
	backdrop-filter: blur(1px);

	animation-name: overlayShow;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
	animation-duration: 0.24s;
}