@keyframes modalShow {
	from {
		opacity: 0;
		transform: scale3d(1.07, 1.07, 1);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body:not(.is-mobile) {
	.modal-container {
		align-items: flex-start;
	}

	.prompt,
	.modal {
		border: unset;
		border-radius: 5px;
		background-color: var(--color-popoverBackground);
		box-shadow: var(--shadows-modal) !important;
		animation-name: modalShow;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
		animation-duration: 0.3s;
		top: 0px;
		margin-top: 10vh;
		max-height: 80vh;

		padding: 0;

		.modal-header,
		h2,
		p {
			margin: 0;
			padding: 0 16px;
		}

		.modal-title,
		h2 {
			font-size: 17px;
			font-weight: 500;
			line-height: 1.5;
			padding-top: 12px;
			padding-bottom: 12px;
		}

		.modal-content {
			padding: 0;
			/* padding: 16px; */

			font-size: 12px;

			p {
				line-height: 1.4;
				opacity: 0.7;
				margin: 0;
			}
		}

		.modal-button-container {
			flex-direction: column;
			gap: 0;
			margin-top: 8px;

			& button {
				display: flex;
				justify-content: flex-start;
				background-color: transparent;
				box-shadow: inset 0 0.5px 0 0 var(--color-baseA5);
				height: 40px;
				color: var(--color-baseA9);

				&:hover {
					background-color: var(--dimmed-background);
				}
				&:active {
					background-color: var(--hover-background);
				}
			}

			& > * {
				padding: 8px 16px;
				font-size: 15px;
				font-weight: 500;
				width: 100%;
			}

			.mod-warning {
				color: var(--color-danger);
			}

			.mod-destructive {
				color: var(--color-danger);
			}

			.mod-checkbox {
				padding-bottom: 12px;
			}

			.mod-cancel {
				color: var(--color-baseA9);
			}

			.mod-cta {
				color: var(--color-accent);
			}
		}
	}

}

.modal-bg {
	background-color: var(--color-overlay) !important;
	opacity: 1;
	backdrop-filter: blur(1px);
	animation-name: overlayShow;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
	animation-duration: 0.24s;
}

/* 플러그인... 거지 같네 */
/* 텍스트만 있거나, 혹은 아예 비어있거나 */
.mod-confirmation .modal-content {
	&:not(:has(*)) {
		padding: 0 16px !important;
		opacity: 0.7;
	}
}

.modal:not(.mod-settings) .setting-item:not(.setting-item-heading) {
	padding: 8px 16px;
	font-weight: 400;

	.setting-item-name {
		font-size: 15px;
	}
	.setting-item-description {
		font-size: 12px;
	}
}

/* QUICK ADD SETTING */
.templateChoiceBuilder {
	.modal-content {
		overflow-x: hidden;
	}

	.chooseFolderWhenCreatingNoteContainer,
	.folderSelectionContainer,
	.modal-content > input,
	.modal-content .qa-preview-row {
		margin: 8px 16px !important;
		max-width: cal(100% - 32px);
	}

	.quickAddFolderListGrid {
		max-width: 100% !important;
		display: flex !important;
		flex-direction: column;
		margin: 0 !important;
		margin-bottom: 12px !important;

		.quickAddCommandListItem {
			padding: 4px 0;
		}
	}
}
