body {
	--metadata-label-text-color: var(--color-baseA9);
	--metadata-property-background-hover: var(--color-baseA3);
	--metadata-property-box-shadow-hover: none;
	--metadata-property-box-shadow-focus: unset;
	--metadata-property-radius: 1px;
	--metadata-property-radius-hover: var(--metadata-property-radius);
	--metadata-property-radius-focus: var(--metadata-property-radius);
	--metadata-gap: 1px;
	--metadata-input-padding: 4px 6px;
	--background-modifier-border: var(--color-baseA3);
}

.cm-sizer:not(:has(.cg-note-toolbar-container)) {
	.metadata-container {
		border-bottom: 1px solid var(--background-modifier-border);
	}
}

input.metadata-property-key-input {
	font-family: var(--font-monospace);
	font-size: 80%;
}

/* Add Property BUTTON */
.metadata-add-button {
	position: relative;
	left: 0px;
	gap: 6px;
	height: 29px;
	padding-inline-start: 0 !important;
	padding-inline-end: 0 !important;
	padding: 3px 5px 3px 4px !important;
	opacity: 0.7;
	border-radius: var(--metadata-property-radius);
	color: var(--color-baseA9);
	margin-top: 0px !important;
	font-size: 80% !important;
	text-transform: lowercase;
	font-family: var(--font-monospace) !important;
	width: 100%;
}

.metadata-add-button:hover {
	background-color: var(--color-baseA3);
}
.metadata-add-button:active {
	background-color: var(--color-baseA5);
}

.metadata-property-icon {
	/* transform: scale(0.8); */
}

.metadata-property {
	min-height: 30px;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.metadata-property:hover {
	transition-duration: 0s;
}

.metadata-properties-heading {
	/* display: none; */
}

/* EDITOR에만 적용 */
.cm-editor {
	.metadata-add-button {
		margin-top: 1px !important;
	}

	.metadata-container {
		padding-block-end: 0.4rem;
		margin-block-end: 1rem;
	}
}
