.quickAddModal.qaInputPrompt {
    .modal-content > div {
        div:has(button) {
            display: flex;
            flex-direction: column !important;
            gap: 0 !important;
            margin-left: -16px;
            margin-right: -16px;

            & button {
				display: flex;
				justify-content: flex-start;
				background-color: transparent;
				box-shadow: inset 0 0.5px 0 0 var(--color-baseA5);
				height: 40px;
				color: var(--color-baseA9);

				&:hover {
					background-color: var(--dimmed-background);
				}
				&:active {
					background-color: var(--hover-background);
				}
			}

			& > * {
				padding: 8px 16px;
				font-size: 15px;
				font-weight: 500;
				width: 100%;
			}

			.mod-warning {
				color: var(--color-danger);
			}

			.mod-destructive {
				color: var(--color-danger);
			}

			.mod-checkbox {
				padding-bottom: 12px;
			}

			.mod-cancel {
				color: var(--color-baseA9);
			}

			.mod-cta {
				color: var(--color-accent);
			}
        }
    }
}