/* 꺽쇄 표시, callout에도 영향*/
.cm-s-obsidian span.cm-formatting-quote {
	/* color: transparent; */
}

.cm-s-obsidian span.cm-quote {
	opacity: 0.75;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before,
.markdown-source-view.mod-cm6 .cm-blockquote-border:before {
	content: "\200b";
	display: block;
	width: 1px;
	border-inline-start: var(--blockquote-border-thickness) solid
		var(--color-baseA6);
	color: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	pointer-events: none;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
	margin: 24px;
}
