body {
	--checkbox-border-color: var(--text-muted);
	--checkbox-margin-inline-start: 0em;
	--checkbox-margin-inline-end: 0em;
	--checkbox-color-hover: var(--color-baseA12);
	--checklist-done-color: var(--color-baseA9);
	--checklist-done-decoration: none;
}

input[type="radio"],
input[type="checkbox"] {
	border-width: 1.5px;
	transition:
		background-color,
		border-color 0.25s;
	cursor: pointer;
}

@media (hover: hover) {
	input[type="radio"]:hover,
	input[type="checkbox"]:hover {
		background-color: var(--color-baseA4);
	}
	input[type="radio"]:hover,
	input[type="checkbox"]:hover,
	input[type="radio"]:focus,
	input[type="checkbox"]:focus {
		box-shadow: 0 0 0 2px var(--color-baseA6);
	}
	input[type="radio"]:checked:hover,
	input[type="checkbox"]:checked:hover {
		background-color: var(--checkbox-color);
		border-color: var(--checkbox-color);
	}
}

input[type="radio"]:active,
input[type="checkbox"]:active {
	background-color: var(--color-baseA7);
}

input[type="radio"]:checked:focus,
input[type="checkbox"]:checked:focus {
	background-color: var(--checkbox-color);
}
