body {
	--checkbox-border-color: var(--text-muted);
	--checkbox-margin-inline-start: 0em;
	--checkbox-margin-inline-end: 0em;
	--checkbox-color: var(--color-accent);
	--checkbox-color-hover: var(--color-baseA12);
	--checklist-done-color: var(--color-baseA8);
	--checklist-done-decoration: none;
}

.cm-formatting-list,
.task-list-label {
	display: inline-block;
	min-width: 1em;
	position: relative;
	left: 0.2em;
}
input[type="checkbox"]:checked:after {
	top: -1.5px;
	inset-inline-start: -1.5px;
}

input[type="radio"],
input[type="checkbox"] {
	border-width: 1.5px;
	transition: background-color 0.25s;
	cursor: pointer;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
	background-color: var(--color-baseA4);
}

input[type="radio"]:active,
input[type="checkbox"]:active {
	background-color: var(--color-baseA7);
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	box-shadow: 0 0 0 2px var(--color-baseA6);
}

input[type="radio"]:checked:hover,
input[type="checkbox"]:checked:hover {
	background-color: var(--checkbox-color);
}

input[type="radio"]:checked:focus,
input[type="checkbox"]:checked:focus {
	background-color: var(--checkbox-color);
}
