body {
	--tag-color: var(--color-text);
	/* --tag-color-hover: blue; */
	--tag-background: var(--color-baseA5);
	--tag-background-hover: var(--color-baseA7);
	--tag-background-active: var(--color-baseA9);
	--tag-radius: 1 px;
	--tag-padding-x: 6px;
	--tag-padding-y: 3px;
	--tag-size: 0.8em;
	--tag-weight: 500;
}

.metadata-property-value[data-property-type="tags"] .multi-select-pill {
	--pill-color-remove: var(--tag-color);
	--pill-color-remove-hover: var(--tag-color-hover);
	--pill-decoration: var(--tag-decoration);
	--pill-decoration-hover: var(--tag-decoration-hover);
	--pill-background: var(--tag-background);
	--pill-background-hover: var(--tag-background-hover);
	--pill-border-color: var(--tag-border-color);
	--pill-border-color-hover: var(--tag-border-color-hover);
	--pill-border-width: var(--tag-border-width);
	--pill-padding-x: var(--tag-padding-x);
	--pill-padding-y: var(--tag-padding-y);
	--pill-radius: var(--tag-radius);
	--pill-weight: var(--tag-weight);
	--pill-focus-width: 100%;
	--pill-focus-left-adjust: 0;
	cursor: var(--cursor-link);
	line-height: 1;
}

.metadata-property-value[data-property-type="tags"] {
	.multi-select-pill {
		.multi-select-pill-content {
		}

		.multi-select-pill-remove-button {
			margin-right: 3px !important;
		}
	}
}

.cm-hashtag {
	transition: 0.1s;

	&.cm-hashtag-begin {
		border-start-start-radius: var(--tag-radius);
		border-end-start-radius: var(--tag-radius);
		/* color: var(--color-baseA8); */
		padding-right: 2px;
		font-weight: 400;
	}
	&.cm-hashtag-end {
		border-start-end-radius: var(--tag-radius);
		border-end-end-radius: var(--tag-radius);
	}
}

/* 1. a에 호버 시: 본인과 바로 뒤(a-1) 적용 */
.cm-hashtag-begin:hover,
.cm-hashtag-begin:hover + .cm-hashtag-end {
	background-color: var(--tag-background-hover);
}

/* 2. a-1에 호버 시: 본인과 바로 앞(a) 적용 */
.cm-hashtag-end:hover,
.cm-hashtag-begin:has(+ .cm-hashtag-end:hover) {
	background-color: var(--tag-background-hover);
}

/* 1. a에 호버 시: 본인과 바로 뒤(a-1) 적용 */
.cm-hashtag-begin:active,
.cm-hashtag-begin:active + .cm-hashtag-end {
	background-color: var(--tag-background-active);
}

/* 2. a-1에 호버 시: 본인과 바로 앞(a) 적용 */
.cm-hashtag-end:active,
.cm-hashtag-begin:has(+ .cm-hashtag-end:active) {
	background-color: var(--tag-background-active);
}
