@import "./variables.css";
@import "./colors.css";

@import "./clickable.css";
@import "./typography.css";

@import "./callout.css";
@import "./code.css";
@import "./embed.css";
@import "./heading.css";
@import "./propertyContainer.css";
@import "./radioCheckbox.css";
@import "./tabContainer.css";
@import "./quote.css";
@import "./link.css";
@import "./baseCard.css";
@import "./prompt.css";
@import "./popover.css";

/* plugin */
@import "./metaBind.css";
@import "./toolbar.css";
@import "./calendar.css";

/* app */
@import "./app.css";

/* LIST STYLE */
.cm-formatting-list {
	padding: 0;
}

/* INDENT */
.markdown-source-view.mod-cm6 .cm-indent::before {
	display: none;
}

::-webkit-scrollbar-thumb {
	transition: all 0.2s ease 0s;
	background-clip: padding-box;
	border: 3px solid transparent;
	background-color: var(--color-baseA5);
	border-radius: 12px;
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
	background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
	background-color: var(--color-baseA6);
}

.cm-s-obsidian .templater-inline .cm-templater-command {
	background-color: transparent;
}
