@import "./variables.css";
@import "./colors.css";
@import "./callout.css";
@import "./code.css";
@import "./embed.css";
@import "./heading.css";
@import "./propertyContainer.css";
@import "./radioCheckbox.css";
@import "./tabContainer.css";
@import "./quote.css";
@import "./link.css";
@import "./clickable.css";
@import "./baseCard.css";
@import "./prompt.css";

/* EMPTY LINEHEIGHT */
.cm-line:has(> br:only-child) {
	line-height: 1;
}

.cm-highlight {
	font-size: 99%;
}

/* HR STYLE */
.hr hr {
	height: 1px;
	border: 0;
	border-top: 1px dashed var(--background-modifier-border);
}

/* LIST STYLE */
.cm-formatting-list {
	padding: 0;
}

/* INDENT */
.markdown-source-view.mod-cm6 .cm-indent::before {
	display: none;
}

::-webkit-scrollbar-thumb {
	transition: all 0.2s ease 0s;
	background-clip: padding-box;
	border: 3px solid transparent;
	background-color: var(--color-monoA5);
	border-radius: 12px;
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
	background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
	background-color: var(--color-monoA6);
}

.cm-s-obsidian .templater-inline .cm-templater-command {
	background-color: transparent;
}
