@import "./variables.css";

/* CALLOUT-START */

.cm-callout {
	width: calc(100% + 6px);
	position: relative;
	left: -3px;
}
.callout {
	background-color: rgba(245, 245, 245, 1);
}

.callout-icon {
	display: none;
}

.cm-line {
	line-height: 1.6em;
}

/*  */
.markdown-rendered p {
	margin-block-start: 0.2em;
	margin-block-end: 0em;
}

/* PROPERTIES CONTAINER */
.metadata-container {
	border-bottom: 1px solid var(--background-modifier-border);
	margin-block-end: 1rem;
}

input.metadata-property-key-input {
	font-family: var(--font-monospace-override);
}

/* HEADING STYLE */
.cm-s-obsidian .cm-line.HyperMD-header {
	padding-bottom: 0.1em;
	padding-top: 0.1em;
	font-family: var(--system-font);
}
.cm-header:not(.cm-strong) {
	font-weight: 500;
}

.cm-header.cm-strong {
	font-weight: 600;
}

/* HR STYLE */
.hr hr {
	height: 1px;
	border: 0;
	border-top: 1px dashed var(--background-modifier-border);
}

/* LIST STYLE */
.cm-formatting-list {
	padding: 0;
}

/* EMPTY LINEHEIGHT */
.cm-line:has(> br:only-child) {
	line-height: 1;
}

/* INDENT */
.markdown-source-view.mod-cm6 .cm-indent::before {
	display: none;
}

/* RADIO CHECKBOX */
input[type="radio"],
input[type="checkbox"] {
	border-width: 1.5px;
}

.cm-formatting-list,
.task-list-label {
	display: inline-block;
	min-width: 1em;
	position: relative;
	left: 0.1em;
}
input[type="checkbox"]:checked:after {
	top: -1.5px;
	inset-inline-start: -1.5px;
}

/* Add Property BUTTON */
.metadata-add-button {
	position: relative;
	left: -2px;
	opacity: 0.3;
	gap: 10px;
	margin-top: 0 !important;
	padding: var(--size-2-3);
}

/* EMBED */
.embed-title {
	font-weight: 400;
	font-size: 0.8em;
	opacity: 0.5;
	padding: 0;
	margin: 0;
	font-family: var(--font-monospace);
	gap: 0.1em;
}

.embed-title::before {
	content: "[";
}

.embed-title::after {
	content: "]";
}

/* CODE */
.cm-s-obsidian span.cm-inline-code {
	background-color: hsl(var(--color-accent-hsl), 0.05);
	color: var(--link-color);
	font-size: var(--code-size);
	position: relative;
	font-weight: 500;
	margin-left: -0.1em;
	top: -0.1em;
	box-shadow: 0 0 0 0.5px hsl(var(--color-accent-hsl), 0.2);
}

/* [tabindex]:not([tabindex="-1"]) {
	background-color: red;
}

[class$="button"],
[class*="clickable"],
[class*="tappable"] {
	background-color: blue;
} */
