.inline-title[data-type-value]::before {
    letter-spacing: -0.05em;
    border-radius: 1px;
    font-weight: 500;
    padding-block: 3px;
    padding-inline: 6px;
    /* font-style: italic; */
    text-transform: capitalize;
}

.inline-title {
    &[data-type-value="log"]::before {
    }
}