body {
	--p-spacing-empty: 0.2em;
}

.cm-sup {
	vertical-align: unset;
	position: relative;
	font-size: max(0.48em, 8px);
	bottom: 0.75em;
	font-weight: bolder;
	margin-left: 0.12em;
}

.cm-ins,
ins {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--color-baseA8);
	text-decoration-thickness: 1.5px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: none;
}

.markdown-source-view.mod-cm6 .cm-line {
	/* border-bottom: 1px solid var(--color-baseA3); */
	padding: 0.16em 0;
}

/* EMPTY LINEHEIGHT */
/* .cm-line:has(> br:only-child) {
	line-height: 1;
} */

.cm-highlight {
	font-size: 99%;
}

/* HR STYLE */

.hr.cm-line hr,
.markdown-source-view.mod-cm6 hr {
	width: 100%;
	height: 1px;
	background-color: var(--color-baseA3);
	border: 0;
	display: inline-block;
}

.cm-strong {
	font-weight: 600;
}
