body {
	--p-spacing-empty: 0.2em;

	--list-indent: calc(var(--indent-unit) * var(--indent-size));
	--list-indent-editing: 0.75em;
	--list-indent-source: 0;
	--list-spacing: 0.075em;
	--list-marker-color-hover: var(--text-muted);
	--list-marker-color-collapsed: var(--text-accent);
	--list-bullet-border: none;
	--list-bullet-transform: none;
	--list-numbered-style: decimal;
	--list-bullet-end-padding: 1.3rem;

	--list-marker-color: var(--color-baseA12);
	--list-bullet-radius: 1px;
	--list-bullet-size: 0.37em;
}

.cm-sup {
	vertical-align: unset;
	position: relative;
	font-size: max(0.48em, 8px);
	bottom: 0.75em;
	font-weight: bolder;
	margin-left: 0.12em;
}

.cm-ins,
ins {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--color-baseA8);
	text-decoration-thickness: 1.5px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: none;
}

.markdown-source-view.mod-cm6 .cm-line {
	/* border-bottom: 1px solid var(--color-baseA3); */
	padding: 0.16em 0;
}

/* EMPTY LINEHEIGHT */
/* .cm-line:has(> br:only-child) {
	line-height: 1;
} */

.cm-highlight {
	font-size: 99%;
}

/* HR STYLE */

.hr.cm-line hr,
.markdown-source-view.mod-cm6 hr {
	width: 100%;
	height: 1px;
	background-color: var(--color-baseA3);
	border: 0;
	display: inline-block;
}

.hr.cm-line {
  padding: 0 !important;
  line-height: 1;
}


.cm-strong {
	font-weight: 600;
}

.cm-strikethrough {
	opacity: 0.5;
}

.task-list-label {
	margin-inline-start: 0 !important;
}

/* LIST STYLE */
.cm-formatting-list {
	padding: 0;

	.list-bullet {
		padding-left: 5px;
		padding-right: 7px;
	}
}

.cm-formatting-list-ul {
	&[class$="-1"] .list-bullet::after {
		border-radius: 1px;
	}

	&[class$="-2"] .list-bullet::after {
		background-color: transparent;
		box-shadow: inset 0 0 0 1.5px var(--list-marker-color);
	}

	&[class$="-3"] .list-bullet::after {
		transform: rotate(45deg);
	}
}
