body {
	--system-font:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--radius-s: 1px;
	--radius-m: 1px;
	--radius-l: 1px;
	--input-radius: 1px;
	--tab-radius-active: 1px;
	--checkbox-radius: 1px;
	--toggle-radius: 1px;
	--toggle-thumb-radius: 1px;
	--slider-thumb-radius: 1px;

	--metadata-label-text-color: var(--color-base-60);
	--icon-color: var(--color-base-50);
	--inline-title-font: var(--system-font);
	--inline-title-size: 2em;
	--inline-title-weight: 500;
	--list-marker-color: var(--text-muted);

	--checkbox-border-color: var(--text-muted);
	--checkbox-margin-inline-start: 0em;
	--checkbox-margin-inline-end: 0em;

	--metadata-label-font-size: var(--font-smallest);
	--code-size: var(--font-smallest);

	--callout-padding: 14px;
	--callout-default: 0, 0, 0;
	--callout-title-weight: 500;

	--h1-size: 1.462em;
	--h2-size: 1.318em;
	--h3-size: 1.188em;
	--h4-size: 1.076em;
	--h5-size: 1.02em;
	--h6-size: 1em;
}
