body {
	--menu-shadow: var(--shadows-popover);
	--background-primary-alt: transparent;

	--dimmed-background: var(--color-baseA3);
	--hover-background: var(--color-baseA7);
	--active-background: var(--color-baseA8);

	/* Window */
	--titlebar-background: var(--color-sidebarBackground);
	--titlebar-background-focused: var(--color-sidebarBackground);
	--background-primary: var(--color-background);
	--background-secondary: var(--color-sidebarBackground);
	--background-modifier-form-field: var(--color-baseA3);
	--background-secondary-alt: var(--color-baseA4);

	--system-font:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--radius-s: 1px;
	--radius-m: 1px;
	--radius-l: 1px;
	--input-radius: 1px;
	--checkbox-radius: 1px;
	--toggle-radius: 1px;
	--toggle-thumb-radius: 1px;
	--slider-thumb-radius: 1px;
	--icon-color: var(--color-baseA8);

	--line-height-normal: 1.6;
	--line-height-tight: 1.3;

	/* title */
	--inline-title-font: var(--system-font);
	--inline-title-size: 2em;
	--inline-title-weight: 500;

	/* list */
	--list-marker-color: var(--text-muted);

	/* Text */
	--text-normal: var(--color-baseA12);
	--text-muted: var(--color-baseA11);
	--text-faint: var(--color-baseA8);
	--text-on-accent: white;
	--text-on-accent-inverted: black;
	--text-error: var(--color-red);
	--text-warning: var(--color-orange);
	--text-success: var(--color-green);
	--text-selection: hsla(var(--color-accent-hsl), 0.2);
	--text-highlight-bg-rgb: 255, 208, 0;
	--text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
	--text-accent: var(--color-accent);
	--text-accent-hover: var(--color-accent-2);
	--interactive-normal: var(--color-baseA1);
	--interactive-hover: var(--color-baseA2);
	--interactive-accent-hsl: var(--color-accent-hsl);
	--interactive-accent: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);
}
