body {
	--icon-m: 15px;
	--modal-background: var(--color-popoverBackground);
	/* --dropdown-background: red !important; */ /* 탭 막대 활성화 배경색 */
	--background-modifier-hover: var(--color-baseA2);
	--menu-shadow: var(--shadows-popover);
	--background-primary-alt: transparent;
	--header-height: 38px;

	--dimmed-background: var(--color-baseA3);
	--hover-background: var(--color-baseA7);
	--active-background: var(--color-baseA8);

	--file-margins: 3.2vw 4vw;

	/* Window */
	--titlebar-background: var(--color-sidebarBackground);
	--titlebar-background-focused: var(--color-sidebarBackground);
	--background-primary: var(--color-background);
	--background-secondary: var(--color-sidebarBackground);
	--background-modifier-form-field: var(--color-baseA3);
	--background-secondary-alt: var(--color-sidebarBackground);

	--system-font:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--radius-s: 1px;
	--radius-m: 1px;
	--radius-l: 1px;
	--input-radius: 1px;
	--checkbox-radius: 1px;
	--icon-color: var(--color-baseA8);

	--line-height-normal: 1.45;
	--line-height-tight: 1.3;

	/* title */
	/* --inline-title-font: var(--system-font); */
	--inline-title-size: 1.6em;
	/* --inline-title-weight: 400; */
	/* --inline-title-color: var(--color-baseA10); */

	/* list */
	--list-marker-color: var(--text-muted);

	/* Text */
	--text-normal: var(--color-baseA12);
	--text-muted: var(--color-baseA11);
	--text-faint: var(--color-baseA8);
	--text-error: var(--color-red);
	--text-warning: var(--color-orange);
	--text-success: var(--color-green);
	--text-selection: hsla(var(--color-accent-hsl), 0.2);
	--text-highlight-bg-rgb: 255, 208, 0;
	--text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
	--text-accent: var(--color-accent);
	--text-accent-hover: var(--color-accent-2);
	--interactive-normal: var(--color-background);
	--interactive-hover: var(--color-baseA2);
	--interactive-accent-hsl: var(--color-accent-hsl);
	--interactive-accent: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);
}
